flask==0.10.1
flask-sqlalchemy==1.0
flask-markdown==0.3
flask-testing==0.4
sqlalchemy==0.8.4
alembic==0.6.2
webhelpers==1.3
markdown==2.3.1
pillow==2.2.2
mixer==2.0.1
nose==1.3.0
beautifulsoup4==4.3.2
blinker==1.3


