.article-main {
	
	overflow: hidden;
}
.article-main h2 {
	text-align:center;
}
.article-main p {
	font-size: 18px;
	color: rgba(0,0,0,.8);
}
.article-main a {
	color: rgba(0,0,0,.6);
}

.article-main p,
.article-main h1,
.article-main h2,
.article-main h3,
.article-main h4,
.article-main h5,
.article-main h6,
.article-main li,
.article-main a  {
	font-family: @body-font;
	color: @black-70;
}

.article-main h2 {
	font-weight: bold;
	font-size: 3em;
	margin-bottom: 2em;
	color: @black-80;
}

