@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?13240997');
  src: url('../font/fontello.eot?13240997#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?13240997') format('woff'),
       url('../font/fontello.ttf?13240997') format('truetype'),
       url('../font/fontello.svg?13240997#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?13240997#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-picture:before { content: '\e800'; } /* '' */
.icon-floppy:before { content: '\e820'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-link-ext-alt:before { content: '\e812'; } /* '' */
.icon-code:before { content: '\e813'; } /* '' */
.icon-pencil-squared:before { content: '\e809'; } /* '' */
.icon-comment:before { content: '\e80a'; } /* '' */
.icon-attention:before { content: '\e80e'; } /* '' */
.icon-doc-text-inv:before { content: '\e80b'; } /* '' */
.icon-rss:before { content: '\e810'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-down-circled2:before { content: '\e818'; } /* '' */
.icon-angle-left:before { content: '\e816'; } /* '' */
.icon-angle-right:before { content: '\e821'; } /* '' */
.icon-angle-up:before { content: '\e822'; } /* '' */
.icon-angle-down:before { content: '\e823'; } /* '' */
.icon-ok:before { content: '\e81a'; } /* '' */
.icon-align-left:before { content: '\e819'; } /* '' */
.icon-circle:before { content: '\e811'; } /* '' */
.icon-circle-empty:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e817'; } /* '' */
.icon-picture-1:before { content: '\e808'; } /* '' */
.icon-cancel-squared:before { content: '\e81f'; } /* '' */
.icon-feather:before { content: '\e80c'; } /* '' */
.icon-lamp:before { content: '\e807'; } /* '' */
.icon-paper-plane:before { content: '\e806'; } /* '' */
.icon-dot-3:before { content: '\e80f'; } /* '' */
.icon-italic:before { content: '\e814'; } /* '' */