@import "lesshat.less";
@import "utils.less";
@import "_partials/article-view";
@import "_partials/article-edit";
@import "_partials/buttons";
@import "_partials/index";
@import "_partials/media";
@import "_partials/dashboard";
@import "_partials/gallery"; @import "_partials/admin-panel";
@import "_partials/header";
@import "_partials/footer";


// Variables

@body-font: 'Georgia', 'Times New Roman', Times, serif;
@sans-font: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;

@yellow: #fcc41e;
@rose-red: #ff5c39;
@cerulean: #47b1ff;
@green: #98cd45;
@orange: #ffb126;



// Uncomment this to see the grid of the site

// .edit();

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
}
html, body {
	height: 100%;
}

body {
	overflow-x: hidden;
	position: relative;
}

.content {
	overflow: auto;
	height: 100%;
}
.container-full {
height: 100%;
}
.main-matter {
	height: 100%;
}


h1,h2,h3,h4,h5, h6
{
	font-family: @sans-font;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: @black-70;
}
a, p, li {
	-webkit-font-smoothing: antialiased;
}

a:hover,
a:active {
	text-decoration: none;
	color: @rose-red;
}

a {
	.transition(all, 0.1s, ease-in);
}

#wrap {
	min-height: 100%;
	height: 100%;
	height: auto !important;
	margin: 0 auto -60px;
}

.text-warning{
	color: @yellow !important;
}

.text-success {
	color: @green !important;
}

textarea {
	background-color: transparent !important;
	resize: none;
}
/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;

	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;

	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
// Login screen


.mfp-arrow-left:before,
.mfp-arrow-right:before{
	color: #fff;
	font-family: "fontello";
	font-size: 48px;
}
.mfp-arrow-right:before{
	content: '\e817';
	right: 0;
}
.mfp-arrow-left:before {
	content: '\e816';
}
.mfp-arrow-left:after,
.mfp-arrow-right:after {
	border: none;
	&:hover {
		border: none;
	}
}
.mfp-arrow:before,
.mfp-arrow:after {
	border: none
}

.user-info {
	position: absolute;
	width: 200px;
	right: -250px;
	top: 0;
	.portrait-holder {
		width: 120px;
		height: 120px;
		padding: 10px;
		.box-shadow(0, 2px, 2px, rgba(0,0,0,.3));
		.background-size(100%, auto);
		background-position: center center;
		left: 0;
		right: 0;
		margin: 0 auto;
		.border-radius(50%);
		margin-bottom: 20px;
	}
	.user-desc {
		font-size: 12px;
		font-style: italic;
		line-height: 10px;
		margin: 0;
		text-align: center;
		p {
			font-size: 14px !important;
			color: @black-50 !important;
		}
	}
	.real-name {
		display: block;
		text-align: center;
		font-family: @sans-font;
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 18px;
		&:after {
			content: "\2026";
			display: block;
			font-size: 14px;
		}
	}

	.user-info-link{
		display: block;
		font-size: 14px;
		color: @black-60;
		margin-bottom: 4px;
		text-align: center;
	}
}
