.hidden {
  position: absolute;
  top: auto;
  left: -999em;
  right: auto;
}
.article-body p {
  font-size: 1.6em;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2em;
}
.article-body p:first-of-type {
  font-weight: bold;
  margin-bottom: 4em;
  text-align: center;
}
@media screen and (min-width: 970px) {
  .article-body p:first-of-type {
    font-size: 1.4em;
    margin-top: 1em;
    font-weight: bold;
    margin-bottom: 4em;
    text-align: center;
  }
  .article-body p:first-of-type::after {
    content: "\2026";
    position: relative;
    display: block;
    text-align: center;
    margin-top: 0.5em;
    font-size: 2em;
    width: 100%;
  }
}
@media screen and (min-width: 970px) {
  .article-body p {
    font-size: 1.5em !important;
    line-height: 1.6em !important;
  }
}
.article-main {
  padding: 6%;
  position: relative;
}
@media screen and (min-width: 970px) {
  .article-main {
    padding: 0;
  }
}
.article-body p,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6,
.article-body li,
.article-body a {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  color: #4d4d4d !important;
}
.article-body h1,
.article-body h2 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif !important;
  font-weight: bold;
  color: #4d4d4d !important;
  margin-bottom: 0.6em;
}
.article-body a {
  color: #666666;
  text-decoration: underline;
}
.article-body a:hover {
  color: #666666 !important;
}
.article-main blockquote {
  border: none;
  position: relative;
  width: 80%;
  margin: 2em auto 2em auto;
}
.article-main blockquote:before {
  content: open-quote;
  font-size: 5em;
  position: absolute;
  left: -20px;
  top: -20px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  display: block;
}
.article-main blockquote p {
  font-weight: bold !important ;
  text-align: justify;
}
.article-main .article-title {
  font-weight: bold;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
  font-size: 3em;
  text-align: center;
  color: #4d4d4d;
  line-height: 1.4em;
  padding: 1.2em 0.8em 1.4em 0.8em;
}
.content-header {
  height: 6em;
  position: relative;
}
.article-header .article-timesince {
  border-bottom: 2px dotted #666666;
  padding-bottom: 10px;
  text-align: right;
  margin-bottom: 1em;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  color: #666666;
}
@media screen and (max-width: 970px) {
  .article-header .article-timesince {
    padding: 0 1em;
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
.image-desc {
  position: absolute;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-style: italic;
  color: #808080;
  font-size: 0.6em;
  line-height: 2em;
  width: 10em;
  vertical-align: center;
}
@media screen and (max-width: 970px) {
  .image-desc {
    display: none;
  }
}
.floated-image-wrapper {
  float: right;
  clear: right;
  margin: 1em 0 1em 1em;
}
.floated-image-wrapper img {
  width: 300px;
}
@media screen and (max-width: 970px) {
  .floated-image-wrapper img {
    width: 220px;
  }
}
.floated-image-wrapper span {
  left: 108%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.centered-image-wrapper {
  position: relative;
  clear: both;
  width: 100%;
  max-width: 100%;
  font-size: 1em;
  margin: 2em 0 2.6em 0 ;
}
.centered-image-wrapper img {
  width: 100%;
  max-width: 100%;
}
.centered-image-wrapper span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3em;
}
.article-main ol li,
.article-main ul li {
  font-size: 18px;
}
.image-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: center;
}
.article-main pre {
  background-color: inherit;
}
.article-main .codehilite {
  width: 90%;
  margin: 2em auto 2em auto;
  border: none;
}
.article-main .codehilite pre {
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 1em;
}
textarea.article-input {
  outline: none;
  border: none !important;
  box-shadow: none !important;
  font-size: 24px !important;
  resize: none;
  overflow-y: hidden;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
  text-rendering: optimizeSpeed;
}
textarea.article-input.article-input-title {
  font-size: 48px !important ;
  text-align: center !important;
  font-weight: bold !important;
  width: 100%;
  overflow-x: hidden;
  padding: 0 1em;
  margin-top: 1em;
  color: #191919;
}
@media screen and (max-width: 970px) {
  textarea.article-input.article-input-title {
    font-size: 2em !important;
  }
}
textarea.article-input.article-input-body {
  width: 100%;
}
@media screen and (max-width: 970px) {
  textarea.article-input.article-input-body {
    font-size: 1.3em !important;
  }
}
.article-input::-moz-placeholder {
  color: rgba(128, 128, 128, 0.4);
}
.article-input:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.4);
}
.article-input::-webkit-input-placeholder {
  color: rgba(128, 128, 128, 0.4);
}
.warning-holder {
  height: 4em;
  width: 60%;
  margin: 0 auto;
}
.article-input {
  color: #666666;
}
.editing-tools {
  position: fixed;
  right: 8%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 970px) {
  .editing-tools {
    right: 8%;
    z-index: 99;
  }
}
@media screen and (max-width: 970px) {
  .article-entry {
    margin: 0 11% 0 1em;
  }
}
.markdown-cheatsheet {
  position: absolute;
  width: 590px;
  height: 760px;
  background-color: white;
  z-index: 999;
  padding: 2em 1em 0 1em;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.4);
  display: none;
}
.markdown-cheatsheet h2 {
  text-align: center;
  font-size: 1.6em;
  background-color: #333333;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  color: white;
  padding: 10px 0;
}
.markdown-cheatsheet .typography {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
  text-align: center;
}
.markdown-cheatsheet .code-example {
  width: 100%;
  position: relative;
}
.markdown-cheatsheet .code-example span {
  width: 50%;
  float: left;
  padding: 0;
}
.markdown-cheatsheet .close {
  position: absolute;
  right: 20px;
  top: 20px;
}
@media screen and (max-width: 970px) {
  .markdown-cheatsheet {
    width: 98%;
    height: 98%;
  }
}
.title-img {
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  background-color: white;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center center;
  width: 90px;
  height: 90px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  bottom: 20%;
  display: none;
}
@media screen and (max-width: 970px) {
  .title-img {
    width: 80px;
    height: 80px;
  }
}
.header-field .site-title {
  margin: 1em 0 0.5em 0;
  font-size: 60px;
  position: relative;
  top: 13%;
  font-weight: bold;
  color: #4d4d4d;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
  padding: 0 2em;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 750px) {
  .header-field .site-title {
    font-size: 48px;
    text-shadow: none;
  }
}
.header-field {
  margin-bottom: 2em;
  padding-bottom: 3em;
  height: 400px;
  position: relative;
  background-size: 100%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header-field .toolbar-buttons {
  position: absolute;
  right: 10%;
  top: 30%;
  width: 400px;
}
.header-field .toolbar-buttons ul > li {
  margin-right: 20px;
  display: inline-block;
  float: right;
}
@media screen and (max-width: 970px) {
  .header-field .toolbar-buttons {
    width: 100%;
    background-color: white;
    top: 94%;
    right: 0;
  }
  .header-field .toolbar-buttons ul {
    text-align: center;
  }
  .header-field .toolbar-buttons ul li {
    float: none;
    display: inline-block;
    margin-right: 10px;
  }
}
.article-list .timesince {
  color: rgba(0, 0, 0, 0.4);
  padding: 10px 10px 10px 10px;
  left: 10px;
  font-weight: bold;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.7);
  display: block;
  margin-right: 5em;
  width: auto;
  padding-bottom: 2px;
  padding-right: 0;
}
.article-list {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  position: relative;
}
.article-list .article-list-title {
  font-size: 2.7em;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
  font-weight: bold;
  text-align: left;
  margin: 1em 0 1em 0;
}
.article-list .article-list-title > a {
  color: #666666;
}
.article-list .article-list-title:hover {
  color: #ff5c39;
}
.article-list .article-list-body {
  font-size: 1.3em;
}
.article-list .article-list-body .codehilite {
  width: 80%;
  margin: 0 auto;
}
.article-table a {
  color: #666666;
}
.article-table a:hover {
  color: black;
}
.dashboard-header {
  height: 4em;
}
.gallery-wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 4em;
}
.gallery-image {
  background-position: center center;
  color: white;
  font-size: 0.8em;
  font-style: italic;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
.gallery-image:hover {
  color: white;
}
.gallery-image .img-desc {
  position: absolute;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.gallery-image .img-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0;
}
.gallery-image .img-info {
  position: absolute;
  height: 36px;
  background-color: white;
  width: 100%;
  color: #4d4d4d;
  vertical-align: middle !important;
  padding: 16px;
  top: -36px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.gallery-image .img-info .img-action {
  display: inline-block;
}
.gallery-image:hover .img-overlay {
  opacity: 1;
}
.gallery-image:hover .img-desc {
  opacity: 1;
}
.gallery-image:hover .img-info {
  top: 0;
}
.image-upload-wrapper textarea {
  background-color: #fff !important;
  width: 100% !important;
}
.image-upload-wrapper {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
.external {
  border: 1px solid;
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.9);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.9);
}
.galleried {
  border: 1px solid;
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(66, 198, 152, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(66, 198, 152, 0.8);
}
.admin-panel,
.admin-subrosa,
.admin-write,
.admin-menu,
.admin-pic,
.menu-item {
  text-align: center;
  height: 40px;
  background-color: #4d4d4d;
}
@media screen and (max-width: 750px) {
  .admin-panel,
  .admin-subrosa,
  .admin-write,
  .admin-menu,
  .admin-pic,
  .menu-item {
    height: 50px;
  }
}
.admin-subrosa,
.admin-write,
.admin-pic {
  width: 40px;
  font-size: 2em;
  position: relative;
}
.admin-subrosa i,
.admin-write i,
.admin-pic i {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #cccccc !important;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.admin-subrosa i:hover,
.admin-write i:hover,
.admin-pic i:hover {
  color: #fff !important;
}
@media screen and (max-width: 750px) {
  .admin-subrosa,
  .admin-write,
  .admin-pic {
    width: 50px;
  }
  .admin-subrosa a,
  .admin-write a,
  .admin-pic a {
    height: 50px;
    width: 50px;
  }
}
.admin-panel {
  width: 240px;
  position: absolute;
  top: 40px;
  left: 60px;
  z-index: 999;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.admin-panel a {
  color: #b3b3b3;
}
.admin-panel .admin-subrosa {
  background-color: #47b1ff;
  float: left;
  position: relative;
}
.admin-panel .admin-subrosa a {
  color: white;
  opacity: 1;
}
.admin-panel .admin-subrosa a:hover {
  opacity: 0.9;
}
.admin-panel .admin-write,
.admin-panel .admin-pic {
  border-left: 1px solid #5e5e5e;
  right: 0;
  float: right;
}
.admin-panel .admin-menu {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: #b3b3b3;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.admin-panel .admin-menu:hover {
  height: 400%;
}
.admin-panel .admin-menu:hover .menu-item:nth-child(n+2) {
  opacity: 1;
}
.admin-panel .admin-menu .menu-item:nth-child(n+2) {
  opacity: 0;
}
.admin-panel .admin-menu .menu-item {
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #cccccc;
  display: block;
  line-height: 300%;
}
.admin-panel .admin-menu .menu-item:hover > a {
  color: #e6e6e6;
}
@media screen and (max-width: 750px) {
  .admin-panel {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  position: relative;
}
#wrap {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -60px;
}
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}
.text-warning {
  color: #fcc41e !important;
}
.text-success {
  color: #98cd45 !important;
}
textarea {
  background-color: transparent !important;
  resize: none;
}
#push,
#footer {
  height: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
}
a:hover,
a:active {
  text-decoration: none;
  color: #ff5c39;
}
a {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  color: #ff5c39;
}
.footer small {
  text-align: center;
  display: block;
}
.navbar-default {
  background-color: red;
}
.navbar-inner small {
  text-align: center;
}
.navbar-inner {
  padding: 2em 0;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.pagination .active a {
  background-color: #333333;
  border: none;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.pagination .active a:hover {
  background-color: #666666;
}
.pagination > li > a:hover {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.icon-holder {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #4d4d4d;
}
.icon-holder i {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.menu-icon {
  float: right;
  width: 60px;
  height: 60px;
}
.menu-icon a {
  color: #4d4d4d;
}
.menu-icon i {
  font-size: 2em;
}
@media screen and (max-width: 970px) {
  .menu-icon {
    width: 50px;
    height: 50px;
  }
}
#sidepanel-toggler {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 999;
  top: 5%;
  left: 50px;
}
#sidepanel-toggler:hover {
  color: #47b1ff;
}
#sidepanel-toggler i {
  font-size: 3em;
}
.content-header-btns {
  display: inline-block;
  top: 20%;
  right: 10%;
  position: absolute;
  text-align: center;
}
.content-header-btns a {
  padding-right: 10px;
  display: inline-block;
  height: 50px;
  width: 50px;
  color: #4d4d4d;
}
@media screen and (max-width: 970px) {
  .content-header-btns {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.editing-button {
  float: left;
  clear: both;
  display: block;
  margin-bottom: 6em;
}
.create-button:hover,
.update-button:hover {
  color: #98cd45;
}
.cancel-button:hover {
  color: #ff5c39;
}
.lamp-button:hover {
  color: #fcc41e;
}
.cheatsheet-button:hover {
  color: #47b1ff;
}
.rss-button:hover {
  color: #ffb126;
}
.github-button:hover {
  color: #70C951;
}
.twitter-button:hover {
  color: #40d3fc;
}
.facebook-button:hover {
  color: #3b5998;
}
.gallery-button:hover {
  color: #47b1ff;
}
.pub-ico:hover {
  color: #98cd45 !important;
}
.edit-ico:hover {
  color: #47b1ff !important;
}
.del-ico:hover {
  color: #ff5c39 !important;
}
.add-images {
  top: -48px;
  position: absolute;
  color: #4d4d4d;
}
.mini-icon i {
  font-size: 1.4em;
  display: inline-block;
  top: 10px;
}
