@import "lesshat.less";
@import "utils.less";
@import "_partials/article-view";
@import "_partials/article-edit";
@import "_partials/index";
@import "_partials/media";
@import "_partials/dashboard";
@import "_partials/gallery";


// Variables

// @body-font: 'Libre Baskerville', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@body-font: 'Georgia', 'Times New Roman', Times, serif;
@sans-font: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, serif;

@yellow: #fcc41e;
@rose-red: #ff5c39;
@cerulean: #47b1ff;
@green: #98cd45;
@orange: #ffb126;



// Uncomment this to see the grid of the site

// .edit();

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
}
html, body {
	height: 100%;
}

body {
	overflow-x: hidden;
	position: relative;
}
#wrap {
	min-height: 100%;
	height: 100%;
	margin: 0 auto -60px;
}

#lean_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: #000;
	display: none;
}
.text-warning{
	color: @yellow !important;
}
.text-success {
	color: @green !important;
}
textarea {
	background-color: transparent !important;
	resize: none;
}



#push,
#footer {
	height: 60px;
}

h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
}

a:hover,
a:active {
	text-decoration: none;
	color: @rose-red;
}
a {
	.transition(all, 0.1s, ease-in);
	color: @rose-red;
}

.footer small {
	text-align: center;
	display: block;
}

.navbar-default {
	background-color: red;

}
.navbar-inner small {
	text-align: center;
}
.navbar-inner {
	padding: 2em 0;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

// --------- End Sticky footer ------------

// ---------- Pagination Restyle -----------

.pagination .active a{
	background-color: @black-80;
	border: none;
	.border-radius(0);
	&:hover {
		background-color: @black-60;
	}
}
.pagination > li > a:hover {
	.border-radius(0)
}

// -------- End Pagination Restyle----------

// -------- Icon styling ---------------

.icon-holder {
	display: inline-block;
	position: relative;
	// background-color: rgba(0,0,0,.5);
	text-align: center;
	color: @black-70;
	i {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
	}
}

.menu-icon {
	float: right;
	width: 60px;
	height: 60px;
	a {
		
		color: @black-70;
	}
	i {
		font-size: 2em;

	}

	@media screen and (max-width: @md){
		width: 50px;
		height: 50px; }

	}

	#sidepanel-toggler {
		width: 60px;
		height: 60px;
		position: absolute;
		z-index: 999;
		top: 5%;
		left: 50px;
		&:hover {
			color: @cerulean
		}
		i {
			font-size: 3em;
		}
	}
	.content-header-btns {
		display: inline-block;
		top: 20%;
		right: 10%;
		position: absolute;
		text-align: center;
		a {
			padding-right: 10px;
			display: inline-block;
			height: 50px;
			width: 50px;
			color: @black-70;
		}
		@media screen and (max-width: @md){
			left: 0;
			right: 0;
			margin: 0 auto
		}
	}
	.editing-button {
		float: left;
		clear: both;
		display: block;
		margin-bottom: 6em;
	}
	.create-button:hover,
	.update-button:hover {
		color: @green;
	}
	.cancel-button:hover {
		color: @rose-red;
	}
	.lamp-button:hover {
		color: @yellow;
	}
	.cheatsheet-button:hover {
		color: @cerulean;
	}
	.rss-button:hover {
		color: @orange;
	}
	.github-button:hover {
		color: #70C951;
	}
	.twitter-button:hover {
		color: #40d3fc;
	}
	.facebook-button:hover {
		color: #3b5998;
	}
	.gallery-button:hover {
		color: @cerulean;
	}
	.pub-ico:hover{
		color: @green !important;
	}
	.edit-ico:hover{
		color: @cerulean !important;
	}
	.del-ico:hover {
		color: @rose-red !important;
	}
	.add-images {
		top: -48px;
		position: absolute;
		color: @black-70;
	}
	.mini-icon {
		i {
			font-size: 1.4em;
			display: inline-block;
			top: 10px;
		}
	}

// --------- End Icon styling -----------






