.hidden {
  position: absolute;
  top: auto;
  left: -999em;
  right: auto;
}
.single-article {
  position: relative;
  margin-top: 2em;
}
.social-container {
  height: 40px;
  margin: 10px 0 30px 0;
}
.social-container > div {
  float: left;
}
.article-main .article-timesince {
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  color: #b3b3b3;
  font-weight: bold;
  font-size: 1em;
  display: table;
  padding-bottom: 6px;
  margin-bottom: 0;
  margin-left: 2px;
}
@media screen and (max-width: 640px) {
  .article-main .article-timesince {
    font-size: 0.8em;
  }
}
.article-main .toc {
  position: absolute;
  word-wrap: break-word;
  width: 200px;
  margin-left: -220px;
  top: 0;
  left: 0;
  margin-top: 0;
}
@media screen and (max-width: 970px) {
  .article-main .toc {
    display: none;
  }
}
.article-main .toc h3 {
  margin-top: 8px;
  font-size: 1em;
  margin-bottom: 0.jjj6em;
  border-bottom: 1px dotted #4d4d4d;
  display: table;
  padding-bottom: 2px;
}
.article-main .toc ul {
  margin-top: 0;
}
.article-main .toc li {
  margin-bottom: 0.5em;
  font-size: 1em !important;
}
.article-main .toc li a {
  display: inline-block;
  line-height: 160%;
}
.article-main .toc li a:hover {
  text-decoration: underline;
  color: #666666 !important;
}
.article-main .article-title {
  font-weight: bold;
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  font-size: 3em;
  color: #4d4d4d;
  line-height: 1.4em;
  margin-top: 6px;
  margin-bottom: 18px;
}
@media screen and (max-width: 970px) {
  .article-main .article-title {
    font-size: 2em;
  }
}
.article-main .article-header {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 2em;
  font-style: italic;
  color: #333333;
  margin: 0;
  margin-bottom: 18px;
}
@media screen and (max-width: 970px) {
  .article-main .article-header {
    font-size: 1.6em;
  }
}
.article-body {
  position: relative;
}
.article-main .article-divider {
  width: 100%;
  height: 36px;
}
@media screen and (max-width: 640px) {
  .article-main .article-divider {
    height: 12px;
  }
}
.article-body p,
.article-body li,
.project-body p,
.project-body li {
  font-size: 1.2em;
  line-height: 1.8em;
}
@media screen and (min-width: 970px) {
  .article-body p,
  .article-body li,
  .project-body p,
  .project-body li {
    font-size: 1.5em !important;
    line-height: 1.7em !important;
  }
}
.article-body p,
.project-body p {
  margin-bottom: 2em;
}
@media screen and (min-width: 970px) {
  .article-body p,
  .project-body p {
    margin-bottom: 1.8em;
  }
}
.article-body ol,
.article-body ul,
.project-body ol,
.project-body ul {
  margin-bottom: 2em !important;
}
.article-body li > p,
.project-body li > p {
  font-size: 1em !important;
  line-height: 1em !important;
  margin: 0 !important;
}
.article-main {
  position: relative;
}
@media screen and (min-width: 970px) {
  .article-main {
    padding: 0;
  }
}
.article-body p,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6,
.article-body li,
.article-body a,
.project-body p,
.project-body h3,
.project-body h4,
.project-body h5,
.project-body h6,
.project-body li,
.project-body a {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  color: #4d4d4d !important;
}
.article-body h1,
.article-body h2,
.article-body h3,
.project-body h1,
.project-body h2,
.project-body h3 {
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif !important;
  font-weight: bold;
  color: #4d4d4d !important;
}
.article-body a,
.project-body a {
  color: #666666;
  text-decoration: underline;
}
.article-body a:hover,
.project-body a:hover {
  color: #666666 !important;
}
.article-body h1,
.project-body h1 {
  font-size: 2.2em;
  margin: 24px 0;
}
@media screen and (max-width: 640px) {
  .article-body h1,
  .project-body h1 {
    font-size: 1.6em;
    margin: 18px 0;
  }
}
.article-body h2,
.project-body h2 {
  font-size: 1.8em;
  margin: 24px 0;
}
@media screen and (max-width: 640px) {
  .article-body h2,
  .project-body h2 {
    font-size: 1.2em;
    margin: 18px 0;
  }
}
.article-body h3,
.project-body h3 {
  font-size: 1.6em;
  margin: 24px 0;
}
@media screen and (max-width: 640px) {
  .article-body h3,
  .project-body h3 {
    font-size: 1em;
    margin: 18px 0;
  }
}
.article-body blockquote,
.project-body blockquote {
  border: none;
  margin: 12px 0 !important;
  padding: none;
  font-weight: bold;
  font-size: 1em;
  display: block;
  position: relative;
}
.article-body blockquote:before,
.project-body blockquote:before {
  content: open-quote;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2em;
}
.lazy {
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.image-desc {
  position: absolute;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-style: italic;
  color: #808080;
  font-size: 0.6em;
  line-height: 2em;
  vertical-align: center;
}
@media screen and (max-width: 970px) {
  .image-desc {
    display: none;
  }
}
.floated-image-wrapper {
  float: right;
  clear: right;
  margin: 1em 0 1em 1em;
}
.floated-image-wrapper img {
  width: 300px;
}
@media screen and (max-width: 970px) {
  .floated-image-wrapper img {
    width: 220px;
  }
}
.floated-image-wrapper span {
  left: 108%;
  top: 50%;
  width: 120px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 640px) {
  .floated-image-wrapper {
    width: 100%;
    float: none;
    clear: both;
  }
}
.centered-image-wrapper {
  position: relative;
  clear: both;
  width: 100%;
  max-width: 100%;
  font-size: 1em;
  margin: 1em 0 2.6em 0 ;
}
.centered-image-wrapper img {
  width: 100%;
  max-width: 100%;
}
.centered-image-wrapper span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3em;
}
.image-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: center;
}
.article-main pre {
  background-color: inherit;
}
.article-main .codehilite {
  width: 90%;
  margin: 2em auto 2em auto;
  border: none;
  overflow: auto;
}
.article-main .codehilite pre {
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 1em;
  white-space: pre;
  overflow: auto;
}
.article-footer {
  position: relative;
  height: 40px;
  margin-bottom: 2em;
  clear: both;
}
.article-footer a {
  margin-top: 2em;
}
@media screen and (max-width: 640px) {
  .article-footer a {
    font-size: 0.8em;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.user-info {
  position: absolute;
  width: 200px;
  right: -250px;
  top: 0;
}
.user-info .portrait-holder {
  width: 90px;
  height: 90px;
  padding: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center center;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  margin-bottom: 20px;
}
.user-info .user-desc {
  font-size: 12px;
  font-style: italic;
  line-height: 10px;
  margin: 0;
  text-align: center;
}
.user-info .user-desc p {
  font-size: 14px !important;
  color: #808080 !important;
}
.user-info .real-name {
  display: block;
  text-align: center;
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}
.user-info .real-name:after {
  content: "\2026";
  display: block;
  font-size: 14px;
}
.user-info .user-info-link {
  display: block;
  font-size: 14px;
  color: #666666;
  margin-bottom: 4px;
  text-align: center;
}
textarea.article-input {
  outline: none;
  border: none !important;
  box-shadow: none !important;
  font-size: 24px !important;
  resize: none;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  text-rendering: optimizeSpeed;
}
textarea.article-input.article-input-title {
  font-size: 48px !important ;
  text-align: center !important;
  font-weight: bold !important;
  width: 100%;
  overflow-x: hidden;
  padding: 0 1em;
  margin-top: 1em;
  color: #4d4d4d;
}
@media screen and (max-width: 970px) {
  textarea.article-input.article-input-title {
    font-size: 2em !important;
  }
}
textarea.article-input.article-input-body {
  width: 100%;
}
@media screen and (max-width: 970px) {
  textarea.article-input.article-input-body {
    font-size: 1.3em !important;
  }
}
.article-input::-moz-placeholder {
  color: rgba(128, 128, 128, 0.4);
}
.article-input:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.4);
}
.article-input::-webkit-input-placeholder {
  color: rgba(128, 128, 128, 0.4);
}
.warning-holder {
  height: 4em;
  width: 60%;
  margin: 0 auto;
}
.article-input {
  color: #666666;
}
.editing-tools {
  position: fixed;
  right: 8%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 970px) {
  .editing-tools {
    right: 8%;
    z-index: 99;
  }
}
@media screen and (max-width: 970px) {
  .article-entry {
    margin: 0 11% 0 1em;
  }
}
.markdown-cheatsheet {
  position: absolute;
  width: 590px;
  height: 760px;
  background-color: white;
  z-index: 999;
  padding: 2em 1em 0 1em;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.markdown-cheatsheet h2 {
  text-align: center;
  font-size: 1.6em;
  background-color: #333333;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  color: white;
  padding: 10px 0;
}
.markdown-cheatsheet .typography {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
  text-align: center;
}
.markdown-cheatsheet .code-example {
  width: 100%;
  position: relative;
}
.markdown-cheatsheet .code-example span {
  width: 50%;
  float: left;
  padding: 0;
}
.markdown-cheatsheet .close {
  position: absolute;
  right: 20px;
  top: 20px;
}
@media screen and (max-width: 970px) {
  .markdown-cheatsheet {
    width: 98%;
    height: 98%;
  }
}
.icon-holder {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #4d4d4d;
}
.icon-holder i {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.menu-icon {
  float: right;
  width: 60px;
  height: 60px;
}
.menu-icon a {
  color: #4d4d4d;
}
.menu-icon i {
  font-size: 2em;
}
@media screen and (max-width: 970px) {
  .menu-icon {
    width: 50px;
    height: 50px;
  }
}
#sidepanel-toggler {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 999;
  top: 5%;
  left: 50px;
}
#sidepanel-toggler:hover {
  color: #47b1ff;
}
#sidepanel-toggler i {
  font-size: 3em;
}
.content-header-btns {
  display: inline-block;
  top: 20%;
  z-index: 9999;
  right: 10%;
  position: absolute;
  text-align: center;
}
.content-header-btns a {
  padding-right: 10px;
  display: inline-block;
  height: 50px;
  width: 50px;
  color: #4d4d4d;
}
@media screen and (max-width: 970px) {
  .content-header-btns {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.editing-button {
  float: left;
  clear: both;
  display: block;
  margin-bottom: 6em;
}
.create-button:hover,
.update-button:hover {
  color: #98cd45;
}
.cancel-button:hover {
  color: #ff5c39;
}
.lamp-button:hover {
  color: #fcc41e;
}
.cheatsheet-button:hover {
  color: #47b1ff;
}
.rss-button:hover {
  color: #ffb126;
}
.github-button:hover {
  color: #70C951;
}
.twitter-button:hover {
  color: #40d3fc;
}
.facebook-button:hover {
  color: #3b5998;
}
.gallery-button:hover {
  color: #47b1ff;
}
.pub-ico:hover {
  color: #98cd45 !important;
}
.edit-ico:hover {
  color: #47b1ff !important;
}
.del-ico:hover {
  color: #ff5c39 !important;
}
.add-images {
  top: -48px;
  position: absolute;
  color: #4d4d4d;
}
.mini-icon i {
  font-size: 1.4em;
  display: inline-block;
  top: 10px;
}
.btn-confirm:hover {
  background-color: #e6e6e6;
}
.btn-confirm:hover i {
  color: #98cd45;
}
.btn-cancel:hover i {
  color: #ff5c39;
}
.image-toolbar i {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.image-toolbar .icon-plus:hover,
.image-toolbar .icon-plus:active {
  color: #47b1ff;
}
.image-toolbar .icon-minus:hover {
  color: #ffb126;
}
.image-toolbar .icon-cancel:hover {
  color: #ff5c39;
}
.image-toolbar .icon-code:hover {
  color: #fcc41e;
}
.articles-pagination-btn,
.gallery-pagination-btn {
  background-color: transparent;
  color: #808080 !important;
}
.articles-pagination-btn:hover,
.gallery-pagination-btn:hover {
  background-color: transparent;
}
.articles-pagination-btn {
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
}
.gallery-pagination-btn {
  border-color: transparent !important;
  position: relative;
  padding: none !important;
  margin: none !important;
  display: block;
}
.gallery-pagination-btn i {
  font-size: 2em;
}
a[disabled=disabled],
a[disabled] {
  cursor: default;
  color: #e6e6e6 !important;
  pointer-events: none;
}
.index-wrapper {
  overflow: auto;
  height: 100vh;
  padding-left: 0;
}
@media screen and (max-width: 970px) {
  .index-wrapper {
    padding: 1%;
  }
}
#index-user-info {
  color: white ;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  position: absolute;
  bottom: 0;
  margin-bottom: 5em;
  margin-right: 4em;
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.8);
}
#index-user-info #index-portrait {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.4);
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center center;
  border: 4px solid rgba(255, 255, 255, 0.9);
  left: 0;
  right: 0;
  margin: 0 auto;
}
#index-user-info h3 {
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
  font-style: normal;
  color: white;
}
#index-header {
  position: relative;
  margin-bottom: 6em;
  margin-top: 4em;
  width: 100%;
}
#index-header #site-title {
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  font-weight: bold;
  color: #4d4d4d;
  font-size: 3em;
}
#index-header #site-logo {
  max-width: 100%;
  max-height: 200px;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.index-image {
  height: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  position: fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  border-right: 1px solid #999999;
  background-position: center center;
  padding: 0 0 2em 4em;
}
@media screen and (max-width: 970px) {
  .index-image {
    display: none;
  }
}
.article-list {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  margin: 0 !important;
  float: right;
  margin-right: 6% !important;
  position: relative;
}
@media screen and (max-width: 970px) {
  .article-list {
    margin: 0;
    float: none;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.article-list-pagination {
  position: relative;
  height: 80px;
  bottom: 0;
  clear: both;
  padding: 40px 2% 0 2%;
}
.article-list-pagination #prev {
  float: left;
}
.article-list-pagination #next {
  float: right;
}
.articles-list-latest {
  padding: 0 30px;
}
.articles-list-latest h4 {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  font-weight: bold;
  color: #4d4d4d;
}
.articles-list-latest hr {
  margin-top: 10px;
}
.article-list .article-list-title {
  margin-bottom: 2em;
}
.article-list .article-list-title h3 {
  font-size: 2em;
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 5px 0 10px 0;
}
.article-list .article-list-title h3:hover {
  color: #666666;
}
@media screen and (max-width: 640px) {
  .article-list .article-list-title {
    font-size: 0.8em;
  }
}
.article-list .article-list-title .date-created {
  margin: 0;
  color: #999999;
  text-align: center;
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
}
.article-list .article-list-body {
  font-size: 1.3em;
  color: #808080 !important;
}
@media screen and (max-width: 640px) {
  .article-list .article-list-body {
    font-size: 1em;
  }
}
.article-list .article-list-body h1,
.article-list .article-list-body h2,
.article-list .article-list-body h3 {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 18px !important;
  color: #4d4d4d;
  margin: 12px 0;
  color: #808080;
}
.article-list .article-list-body h3,
.article-list .article-list-body h4,
.article-list .article-list-body h5 {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: normal;
  color: #808080;
}
.article-list .article-list-body blockquote {
  font-size: 1em;
  border: none;
  margin: 0;
  padding: 0;
}
.article-list .article-list-body .codehilite {
  display: none;
}
.article-list .article-list-body img {
  display: none;
}
.article-list .article-list-body ul li,
.article-list .article-list-body ol li {
  float: left;
  padding: 0;
  margin-right: 2em;
}
.article-list .article-list-body ul,
.article-list .article-list-body ol {
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 2em;
  clear: both;
}
.article-comments-count {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
#dashboard-panel {
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
  margin-bottom: 4em;
  padding: 2em 4em;
  border: 1px solid #e6e6e6;
  position: relative;
}
@media screen and (max-width: 970px) {
  #dashboard-panel {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
  }
}
#dashboard-panel .reset-btn {
  font-size: 22px;
  line-height: 22px;
  height: 34px;
  color: #b3b3b3;
  background-color: transparent !important;
  border: none;
}
#dashboard-panel .reset-btn:hover {
  color: #ff5c39;
}
#dashboard-panel #dashboard-header {
  margin: 0;
  display: table;
}
#dashboard-panel #dashboard-header h2 {
  color: #808080;
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 2em;
  padding-bottom: 4px;
  border-bottom: 3px solid #808080;
  text-shadow: 0px 1px 1px white;
}
#projects-table {
  margin-bottom: 3em;
}
.dashboard-checkbox-field {
  float: left;
  display: inline-block;
  margin-right: 24px;
}
#articles-table a,
#projects-table a {
  color: #666666;
}
#articles-table a:hover,
#projects-table a:hover {
  color: black;
}
.dashboard-header {
  height: 4em;
}
#projects-table {
  margin-top: 40px;
}
table {
  border-collapse: separate !important;
}
div[id^='selectable'] {
  display: none;
}
div#selectable-1 {
  display: block;
}
#link-fields {
  margin-bottom: 24px;
}
table {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
}
table thead th {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #ececec);
  background-image: -moz-linear-gradient(top, #f8f8f8, #ececec);
  background-image: -o-linear-gradient(top, #f8f8f8, #ececec);
  background-image: linear-gradient(to bottom, #f8f8f8, #ececec);
}
table thead th:first-child {
  -webkit-border-top-left-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topleft: 6px;
  -moz-background-clip: padding;
  border-top-left-radius: 6px;
  background-clip: padding-box;
}
table thead th:last-child {
  -webkit-border-top-right-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topright: 6px;
  -moz-background-clip: padding;
  border-top-right-radius: 6px;
  background-clip: padding-box;
}
table tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomleft: 6px;
  -moz-background-clip: padding;
  border-bottom-left-radius: 6px;
  background-clip: padding-box;
}
table tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-bottomright: 6px;
  -moz-background-clip: padding;
  border-bottom-right-radius: 6px;
  background-clip: padding-box;
}
.gallery-wrapper {
  width: 840px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 6em;
  position: relative;
  margin-bottom: 4em;
  clear: both;
}
@media screen and (max-width: 970px) {
  .gallery-wrapper {
    width: 420px;
    top: 100px;
    margin-bottom: 200px;
    margin-top: 0;
  }
}
.gallery-image {
  font-size: 0.8em;
  font-style: italic;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
.gallery-image .image-toolbar {
  color: white;
  height: 40px;
  width: 100%;
  position: absolute;
  top: -40px;
  padding: 0 1em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.gallery-image .image-toolbar span.img-icons {
  float: right;
  font-size: 2em;
}
.gallery-image .image-toolbar span.img-icons a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}
.gallery-image .image-toolbar span.img-icons a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.gallery-image .img-desc {
  position: absolute;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.gallery-image .img-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0;
}
.gallery-image .img-holder {
  width: 100%;
  height: 100%;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.gallery-image:hover .img-overlay {
  opacity: 1;
}
.gallery-image:hover .img-desc {
  opacity: 1;
}
.gallery-image:hover .image-toolbar {
  top: 0;
}
.image-upload-wrapper textarea {
  background-color: #fff !important;
  width: 100% !important;
}
@media screen and (max-width: 970px) {
  .image-upload-wrapper {
    margin: 0 2em;
  }
}
.image-upload-wrapper #imgur-credit {
  margin: 0 0 6px 0;
}
.image-upload-wrapper #imgur-credit img {
  display: inline-block;
  height: 20px;
  margin-left: 4px;
}
.galleried {
  border: 3px solid;
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.9);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.9);
}
.gallery-modal .modal-header {
  border-bottom: none;
}
.gallery-modal .modal-dialog {
  max-width: 80%;
  max-height: 80%;
}
.gallery-modal .modal-body {
  position: relative;
}
.gallery-modal .modal-body img {
  width: 100%;
}
.gallery-pagination-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 970px) {
  .gallery-pagination-btn {
    top: -30px;
    -webkit-transform: translate(none);
    -moz-transform: translate(none);
    -o-transform: translate(none);
    -ms-transform: translate(none);
    transform: translate(none);
  }
}
.gallery-pagination-btn#prev {
  left: -120px;
}
@media screen and (max-width: 970px) {
  .gallery-pagination-btn#prev {
    left: 0;
  }
}
.gallery-pagination-btn#next {
  right: -120px;
}
@media screen and (max-width: 970px) {
  .gallery-pagination-btn#next {
    right: 0;
  }
}
.source-window {
  background-color: white;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.4);
  padding: 2em;
  width: 400px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.admin-panel,
.admin-subrosa,
.admin-write,
.admin-menu,
.admin-pic,
.menu-item {
  text-align: center;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 750px) {
  .admin-panel,
  .admin-subrosa,
  .admin-write,
  .admin-menu,
  .admin-pic,
  .menu-item {
    height: 50px;
  }
}
.admin-subrosa,
.admin-write,
.admin-pic {
  width: 40px;
  font-size: 2em;
  position: relative;
}
.admin-subrosa i,
.admin-write i,
.admin-pic i {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #cccccc !important;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.admin-subrosa i:hover,
.admin-write i:hover,
.admin-pic i:hover {
  color: #fff !important;
}
@media screen and (max-width: 750px) {
  .admin-subrosa,
  .admin-write,
  .admin-pic {
    width: 50px;
  }
  .admin-subrosa a,
  .admin-write a,
  .admin-pic a {
    height: 50px;
    width: 50px;
  }
}
.admin-panel {
  width: 240px;
  position: absolute;
  display: none;
  top: 120px;
  left: 60px;
  z-index: 1000;
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  z-index: 10;
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.admin-panel a {
  color: #b3b3b3;
}
.admin-panel .admin-subrosa {
  float: left;
  position: relative;
  background-color: #499bea;
  background-color: #149bff;
  z-index: 1001;
}
.admin-panel .admin-subrosa a:hover {
  opacity: 0.9;
}
.admin-panel .admin-subrosa i {
  color: white !important;
}
.admin-panel .admin-write,
.admin-panel .admin-pic {
  border-left: 1px solid #5e5e5e;
  right: 0;
  float: right;
}
.admin-panel .admin-menu {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: #b3b3b3;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.admin-panel .admin-menu:hover {
  height: 400%;
}
.admin-panel .admin-menu:hover .menu-item:nth-child(n+2) {
  opacity: 1;
}
.admin-panel .admin-menu .menu-item:nth-child(n+2) {
  opacity: 0;
}
.admin-panel .admin-menu .menu-item {
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #cccccc;
  display: block;
  line-height: 300%;
}
.admin-panel .admin-menu .menu-item:hover > a {
  color: #e6e6e6;
}
@media screen and (max-width: 750px) {
  .admin-panel {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }
}
#user-projects {
  margin-top: 2em;
}
@media screen and (max-width: 970px) {
  #user-projects {
    margin: 0 24px;
  }
}
#user-projects hr {
  border-top: 1px solid #808080;
  width: 80%;
  margin-bottom: 4em;
}
.project-wrapper .project-title {
  clear: both;
  float: none;
  margin-bottom: 2em;
}
.project-wrapper .project-title h1 {
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #666666;
}
@media screen and (max-width: 640px) {
  .project-wrapper .project-title h1 {
    font-size: 22px;
  }
}
.project-wrapper .project-timesince h5 {
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  font-weight: bold;
  color: #47b1ff;
  margin-bottom: 36px;
}
.project-wrapper .project-body {
  font-size: 14px;
  position: relative;
}
.project-wrapper .project-body p,
.project-wrapper .project-body li {
  color: #666666 !important;
}
.project-wrapper .project-body p {
  line-height: 2em !important;
}
.project-wrapper .project-body .centered-image-wrapper {
  width: 140%;
  max-width: 140%;
  left: -20%;
}
@media screen and (max-width: 970px) {
  .project-wrapper .project-body .centered-image-wrapper {
    width: 100%;
    max-width: 100%;
    left: 0;
  }
}
.header {
  margin-bottom: 12px;
  position: relative;
  z-index: 9;
}
@media screen and (max-width: 970px) {
  .header {
    margin-bottom: 24px;
  }
}
.content-header {
  height: 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  background-attachment: fixed;
}
@media screen and (max-width: 640px) {
  .content-header .header-category {
    display: none;
  }
}
.header-toolbar {
  height: 60px;
  position: relative;
}
@media screen and (max-width: 970px) {
  .header-toolbar {
    padding: 0 10px 0 10px;
  }
}
.header-toolbar .toolbar-sitetitle {
  position: relative;
}
.header-toolbar .toolbar-sitetitle h4 {
  height: 60px;
  line-height: 70px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  float: left;
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  color: #4d4d4d;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.header-toolbar .toolbar-sitetitle h4:hover {
  color: #808080;
}
.header-toolbar .toolbar-sitetitle img {
  max-height: 40px;
  max-width: 300px;
  position: absolute;
  margin-top: 10px;
}
.header-toolbar ul {
  display: block;
  float: right;
  height: 40px;
  line-height: 70px;
  margin-right: 4em;
}
@media screen and (max-width: 970px) {
  .header-toolbar ul {
    float: right;
    margin: 0;
  }
}
.header-toolbar ul li {
  display: inline-block;
  margin-right: 1em;
}
.header-toolbar ul li a {
  font-size: 12px;
}
.toolbar-link {
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}
.toolbar-link:hover {
  color: #f15831;
  border-bottom: 2px solid #f5603b;
}
#push,
#footer {
  height: 60px;
  clear: both;
}
#footer-links {
  position: absolute;
  z-index: 999;
  font-size: 1em;
  height: 40px;
  line-height: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 640px) {
  #footer-links {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
#footer-links .footer-link {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  float: left;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  text-align: center;
  position: relative;
  margin-right: 20px;
  background-color: #cccccc;
  color: white ;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 640px) {
  #footer-links .footer-link {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 0.8em;
  }
}
#footer-links .footer-link:hover {
  background-color: #999999;
}
#footer-links .footer-link:after {
  content: attr(data-desc);
  color: #cccccc;
  position: absolute;
  top: -40px;
  left: 0;
  display: none;
  opacity: 0;
}
#footer-links .footer-link:hover:after {
  display: block;
  opacity: 1;
}
@media screen and (max-width: 640px) {
  #footer-links .footer-link:hover:after {
    display: none;
  }
}
#footer {
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;
  position: relative;
  width: 100%;
  clear: both;
  padding: 0 4em;
}
@media screen and (max-width: 640px) {
  #footer {
    padding: 0 2em;
  }
}
#footer p {
  display: block;
  line-height: 60px;
  margin: 0;
  padding: 0;
  color: #b0b0b0 !important;
  font-size: 12px;
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  opacity: 0.7;
}
#footer .subscribe {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -10px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Gill Sans', Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
}
a,
p,
li {
  -webkit-font-smoothing: antialiased;
}
a:hover,
a:active {
  text-decoration: none;
  color: #ff5c39;
}
a {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
#wrap {
  min-height: 100%;
  height: 100%;
  height: auto !important;
  margin: 0 auto -60px;
}
.text-warning {
  color: #fcc41e !important;
}
.text-success {
  color: #98cd45 !important;
}
textarea {
  background-color: transparent !important;
  resize: none;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.mfp-arrow-left:before,
.mfp-arrow-right:before {
  color: #fff;
  font-family: "fontello";
  font-size: 48px;
}
.mfp-arrow-right:before {
  content: '\e815';
  right: 0;
}
.mfp-arrow-left:before {
  content: '\e814';
}
.mfp-arrow-left:after,
.mfp-arrow-right:after {
  border: none;
}
.mfp-arrow-left:after:hover,
.mfp-arrow-right:after:hover {
  border: none;
}
.mfp-arrow:before,
.mfp-arrow:after {
  border: none;
}
.vert-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -24px;
}
.hor-centered {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.onoffswitch {
  position: relative;
  width: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 10px;
}
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 10px;
  padding: 0;
  line-height: 10px;
  font-size: 16px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.08) inset;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 15px;
  background-color: #6BB2ED;
  color: #FFFFFF;
  border-radius: 10px 0 0 10px;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 15px;
  background-color: #FFFFFF;
  color: #666666;
  text-align: right;
  border-radius: 0 10px 10px 0;
}
.onoffswitch-switch {
  width: 16px;
  margin: 0 -10px 0 0;
  background: #FFFFFF;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 26px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  box-shadow: 0 1px 1px white inset;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  margin: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.form-control,
textarea.form-control {
  background-color: rgba(0, 0, 0, 0.02) !important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  outline: 0 !important;
}
.form-control:focus,
textarea.form-control:focus {
  box-shadow: none;
  outline: 0px !important;
  border-color: #cccccc;
  -webkit-box-shadow: none;
  background-color: rgba(0, 0, 0, 0.04) !important;
}
.form-control:active,
textarea.form-control:active {
  outline: 0 !important;
  -webkit-appearance: none;
}
#login-panel img,
#create-account-panel img {
  width: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0 0 2em 0;
  position: relative;
}
@media screen and (max-width: 970px) {
  #login-panel,
  #create-account-panel {
    width: 100%;
  }
}
