.codehilite pre { background: #1e2426 !important; color: #babdb6 !important} 
.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #656763} /* Comment */
.codehilite .err { color: #babdb6} /* Error */
.codehilite .g { color: #babdb6} /* Generic */
.codehilite .k { color: #729fcf} /* Keyword */
.codehilite .l { color: #babdb6} /* Literal */
.codehilite .n { color: #babdb6} /* Name */
.codehilite .o { color: #babdb6} /* Operator */
.codehilite .x { color: #babdb6} /* Other */
.codehilite .p { color: #babdb6} /* Punctuation */
.codehilite .cm { color: #656763} /* Comment.Multiline */
.codehilite .cp { color: #fcaf3e} /* Comment.Preproc */
.codehilite .c1 { color: #656763} /* Comment.Single */
.codehilite .cs { color: #656763} /* Comment.Special */
.codehilite .gd { color: #2e3436; background-color: #0e1416 } /* Generic.Deleted */
.codehilite .ge { color: #babdb6} /* Generic.Emph */
.codehilite .gr { color: #eeeeec; background-color: #cc0000 } /* Generic.Error */
.codehilite .gh { color: #fcaf3e} /* Generic.Heading */
.codehilite .gi { color: #babdb6; background-color: #1f2b2d } /* Generic.Inserted */
.codehilite .go { color: #2c3032; background-color: #2c3032 } /* Generic.Output */
.codehilite .gp { color: #babdb6} /* Generic.Prompt */
.codehilite .gs { color: #babdb6} /* Generic.Strong */
.codehilite .gu { color: #fcaf3e} /* Generic.Subheading */
.codehilite .gt { color: #babdb6} /* Generic.Traceback */
.codehilite .kc { color: #729fcf} /* Keyword.Constant */
.codehilite .kd { color: #729fcf} /* Keyword.Declaration */
.codehilite .kn { color: #729fcf} /* Keyword.Namespace */
.codehilite .kp { color: #729fcf} /* Keyword.Pseudo */
.codehilite .kr { color: #729fcf} /* Keyword.Reserved */
.codehilite .kt { color: #e3e7df} /* Keyword.Type */
.codehilite .ld { color: #babdb6} /* Literal.Date */
.codehilite .m { color: #8ae234} /* Literal.Number */
.codehilite .s { color: #babdb6} /* Literal.String */
.codehilite .na { color: #fcaf3e} /* Name.Attribute */
.codehilite .nb { color: #babdb6} /* Name.Builtin */
.codehilite .nc { color: #babdb6} /* Name.Class */
.codehilite .no { color: #8ae234} /* Name.Constant */
.codehilite .nd { color: #babdb6} /* Name.Decorator */
.codehilite .ni { color: #888a85} /* Name.Entity */
.codehilite .ne { color: #babdb6} /* Name.Exception */
.codehilite .nf { color: #fcaf3e} /* Name.Function */
.codehilite .nl { color: #babdb6} /* Name.Label */
.codehilite .nn { color: #babdb6} /* Name.Namespace */
.codehilite .nx { color: #babdb6} /* Name.Other */
.codehilite .py { color: #babdb6} /* Name.Property */
.codehilite .nt { color: #729fcf} /* Name.Tag */
.codehilite .nv { color: #ffffff} /* Name.Variable */
.codehilite .ow { color: #babdb6} /* Operator.Word */
.codehilite .w { color: #babdb6} /* Text.Whitespace */
.codehilite .mf { color: #8ae234} /* Literal.Number.Float */
.codehilite .mh { color: #8ae234} /* Literal.Number.Hex */
.codehilite .mi { color: #8ae234} /* Literal.Number.Integer */
.codehilite .mo { color: #8ae234} /* Literal.Number.Oct */
.codehilite .sb { color: #babdb6} /* Literal.String.Backtick */
.codehilite .sc { color: #babdb6} /* Literal.String.Char */
.codehilite .sd { color: #babdb6} /* Literal.String.Doc */
.codehilite .s2 { color: #babdb6} /* Literal.String.Double */
.codehilite .se { color: #babdb6} /* Literal.String.Escape */
.codehilite .sh { color: #babdb6} /* Literal.String.Heredoc */
.codehilite .si { color: #babdb6} /* Literal.String.Interpol */
.codehilite .sx { color: #babdb6} /* Literal.String.Other */
.codehilite .sr { color: #babdb6} /* Literal.String.Regex */
.codehilite .s1 { color: #babdb6} /* Literal.String.Single */
.codehilite .ss { color: #babdb6} /* Literal.String.Symbol */
.codehilite .bp { color: #babdb6} /* Name.Builtin.Pseudo */
.codehilite .vc { color: #ffffff} /* Name.Variable.Class */
.codehilite .vg { color: #ffffff} /* Name.Variable.Global */
.codehilite .vi { color: #ffffff} /* Name.Variable.Instance */
.codehilite .il { color: #8ae234} /* Literal.Number.Integer.Long */