<ul class="dashboard-sidebar list-unstyled">
	<li class="dashboard-sidebar-item dark-dashboard-sidebar-item {{ 'active' if dashboard_part == 'MAIN'}}">
		<a href=" {{ url_for('account', username=session.user )}}" class="hint-icon" data-toggle="tooltip" data-placement="right" data-container="body" title="Articles list"><i class="icon-feather"></i></a>
	</li>
	
	<li class="dashboard-sidebar-item dark-dashboard-sidebar-item {{ 'active' if dashboard_part == 'IMAGES'}}">
		<a href="{{ url_for('user_images', username = session.user )}}"><i class="icon-doc-text-inv"></i></a>
	</li>
	<li class="dashboard-sidebar-item dark-dashboard-sidebar-item ">
		<a href="{{ url_for('create_article')}}"><i class="icon-picture"></i></a>
	</li>
	<li class="dashboard-sidebar-item dark-dashboard-sidebar-item ">
		<a href="{{ url_for('create_project')}}"><i class="icon-picture"></i></a>
	</li>

	<li class="dashboard-sidebar-item dark-dashboard-sidebar-item {{ 'active' if dashboard_part == 'UPLOAD'}}">
		<a href="{{ url_for('upload_image')}}"><i class="icon-cancel"></i></a>
	</li>

	<li class="dashboard-sidebar-item dark-dashboard-sidebar-item ">
		<a href="{{ url_for('logout')}}"><i class="icon-picture"></i></a>
	</li>
</ul>
