
// Styles related to Single article view

.single-article {
	position: relative;
	margin-top: 2em;
}

.article-main .article-timesince {
	font-family: @sans-font;
	color: @black-40;
	font-weight: bold;
	font-size: 0.9em;
	display: table;
	border-bottom: 3px solid @black-20;
	padding-bottom: 6px;
	margin-bottom: 0;
	margin-left: 2px;
	@media screen and (max-width: 640px){
		font-size: 0.8em;
	}
}

.article-main .article-title {
	font-weight: bold;
	font-family: @sans-font;
	font-size: 3em; 
	color: @black-70;
	line-height: 1.4em;
	margin-top: 6px;
	margin-bottom: 18px;
	@media screen and (max-width: @md){
		font-size: 2em;
	}
}
.article-main .article-header {
	font-family: @body-font;
	font-size: 2em;
	font-style: italic;
	color: @black-80;
	margin: 0;
	margin-bottom: 18px;
	@media screen and (max-width: @md){
		font-size: 1.6em;

	}
	
}
.article-body {
	position: relative;
}


.article-main .article-divider {
	width: 100%;
	height: 36px;
	@media screen and (max-width: 640px){
		height: 12px;
	}
}

.article-body  p,
.article-body li,
.project-body p,
.project-body li{
	font-size: 1.2em;
	line-height: 1.8em;
	@media screen and (min-width: @md){
		font-size: 1.5em !important;
		line-height: 1.7em !important;
	}
}
.article-body p,
.project-body p {
	margin-bottom: 2em;
	@media screen and (min-width: @md){
		margin-bottom: 1.8em;

	}
	
}
.article-body ol,
.article-body ul,
.project-body ol,
.project-body ul {
	margin-bottom: 2em !important;
}

.article-body li > p,
.project-body li > p {
	font-size: 1em !important;
	line-height: 1em !important;
	margin: 0 !important;
}
.article-main {
	position: relative;
	margin-bottom: 100px;
	@media screen and (min-width: @md){
		padding: 0;
	}
}


.article-body p,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6,
.article-body li,
.article-body a,
.project-body p,
.project-body h3,
.project-body h4,
.project-body h5,
.project-body h6,
.project-body li,
.project-body a {
	font-family: @body-font;
	color: @black-70 !important;
}
.article-body h1,
.article-body h2,
.article-body h3,
.project-body h1,
.project-body h2,
.project-body h3 {
	font-family: @sans-font !important;
	font-weight: bold;
	color: @black-70 !important;

}
.article-body a,
.project-body a {
	color: @black-60;
	text-decoration: underline;
	&:hover {
		color: @black-60 !important;
	}
	
}
.article-body h1,
.project-body h1 {
	font-size: 2.2em;
	margin: 24px 0;
	@media screen and (max-width: 640px){
		font-size: 1.6em;
		margin: 18px 0;
	}
}
.article-body h2,
.project-body h2 {
	font-size: 1.8em;
	margin: 24px 0;
	@media screen and (max-width: 640px){
		font-size: 1.2em;
		margin: 18px 0;
	}
}
.article-body h3,
.project-body h3 {
	font-size: 1.6em;
	margin: 24px 0;
	@media screen and (max-width: 640px){
		font-size: 1em;
		margin: 18px 0;
	}
}
.article-body blockquote,
.project-body blockquote {
	border: none;
	margin: 12px 0 !important;
	padding: none;
	font-weight: bold;
	font-size: 1em;
	display: block;
	position: relative;
	&:before {
		content: open-quote;
		position: absolute;
		left: 0;
		top: 0;
		font-size: 2em;
	}
}



.lazy {
	width: 100%;
	opacity: 0;
	.transition(opacity, .3s ease-in);
}

.image-desc {
	position: absolute;
	font-family: @body-font;
	font-style: italic;
	color: @black-50;
	font-size: 0.6em;
	line-height: 2em;
	vertical-align: center;
	@media screen and (max-width: @md){
		display: none;
	}
}

.floated-image-wrapper {
	float: right;
	clear: right;
	margin: 1em 0 1em 1em;
	img {
		width: 300px;
		@media screen and (max-width: @md){
			width: 220px;

		}
	}
	span {
		left: 108%;
		top: 50%;
		.translateY(-50%);
	}
	@media screen and (max-width: 640px){
		width: 100%;
		float: none;
		clear: both;
	}
}
.centered-image-wrapper {
	position: relative;
	clear: both;
	width: 100%;
	max-width: 100%;
	font-size: 1em;
	margin: 1em 0 2.6em 0 ;
	img {
		width: 100%;
		max-width: 100%;
	}
	span {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -3em;
	}


}

.image-wrapper {
	position: relative;
	display: inline-block;
	vertical-align: center;
}



.article-main pre {
	background-color: inherit;
}
.article-main .codehilite {
	width: 90%;
	margin: 2em auto 2em auto;
	border: none;
	overflow: auto;
	pre {
		.border-radius(5px);
		padding: 1em;
		white-space: pre;
		overflow: auto;
	}
}
.article-footer {
	position: relative;
	height: 40px;
	margin-bottom: 2em;
	clear: both;
}
.article-footer a {
	margin-top: 2em;
	@media screen and (max-width: 640px){
		font-size: 0.8em;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.user-info {
	position: absolute;
	width: 200px;
	right: -250px;
	top: 0;
	.portrait-holder {
		width: 90px;
		height: 90px;
		padding: 10px;
		.box-shadow(0, 1px, 1px, rgba(0,0,0,.3));
		.background-size(100%, auto);
		background-position: center center;
		left: 0;
		right: 0;
		margin: 0 auto;
		.border-radius(50%);
		margin-bottom: 20px;
	}
	.user-desc {
		font-size: 12px;
		font-style: italic;
		line-height: 10px;
		margin: 0;
		text-align: center;
		p {
			font-size: 14px !important;
			color: @black-50 !important;
		}
	}
	.real-name {
		display: block;
		text-align: center;
		font-family: @sans-font;
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 16px;
		&:after {
			content: "\2026";
			display: block;
			font-size: 14px;
		}
	}

	.user-info-link{
		display: block;
		font-size: 14px;
		color: @black-60;
		margin-bottom: 4px;
		text-align: center;
	}
}
