
// Styles related to Single article view



.article-main p {
	font-size: 18px;
	color: rgba(0,0,0,.8);
}

.article-main a {
	color: rgba(0,0,0,.6);
}

.article-main p,
.article-main h1,
.article-main h2,
.article-main h3,
.article-main h4,
.article-main h5,
.article-main h6,
.article-main li,
.article-main a  {
	font-family: @body-font;
	color: @black-70;
}

.article-main .article-title {
	font-weight: bold;
	font-family: @sans-font;
	font-size: 3em; 
	text-align: center;
	color: @black-70;
	line-height: 1.4em;
	padding: 1.2em 0.8em 1.4em 0.8em; 
}

.article-main p,
{
	@media screen and (min-width: @md){
		
		font-size: 1.4em;
		line-height: 1.6em;
	}
}



.article-main .article-body a {
	color: @black-60;
	text-decoration: underline;
	&:hover {
		color: @cerulean;
	}
}

blockquote {
	border: none;
	position: relative;
	// background-color: red;
	width: 80%;
	margin: 2em auto 2em auto;
	&:before {
		content: open-quote;
		font-size: 5em;
		position: absolute;
		left: -20px;
		top: -20px;
		font-family: @body-font;
		display: block;
	}
	p {
		font-weight: bold !important ;
		text-align: justify;
	}
}

// Double blockquote ( >> ) doesnt work TODO

.content-header {
	height: 6em;
	position: relative;
}

.article-main .article-body > p:first-of-type {
	font-size: 1.4em;
	margin-top: 1em;
	font-weight: bold;
	margin-bottom: 4em;
	text-align: center;
	&::after {
		content: "\2026";
		position: relative;
		display: block;
		text-align: center;
		margin-top: 0.5em;
		font-size: 2em;
		width: 100%;
	}
}

.article-header .article-timesince {
	border-bottom: 2px dotted @black-60;
	padding-bottom: 10px;
	text-align: right;
	margin-bottom: 1em;
	font-family: @body-font;
	color: @black-60;
	@media screen and (max-width: @md) {
		padding: 0 1em;
		width: 80%;
		display: block;
		margin: 0 auto;
	}
}

.article-main .article-body {
	position: relative;
}

// I hope they have special place in hell for the cocksucker who invented css

a.centered-image {
	display: block;
	margin: 1em auto 1em auto;
	width: 400px;
	max-width: 500px;
	img {
		max-width: 100%;
		width: 100%;
		border: 1px solid @black-80;
	}
}

img.centered-image {
	display: block;
	margin: 1em auto 1em auto;
	width: 400px;
	max-width: 500px;
	max-width: 100%;
	border: 1px solid @black-80;
	
}

a.floated-image {
	display: block;
	float: right;
	width: 300px;
	img {
		border: 1px solid @black-80;
	}
}

img.floated-image {
	width: 300px;
	float: right;
}

.image-desc {
	position: absolute;
	top: 50%;
	.translateY(-50%);
	font-family: @body-font;
	font-style: italic;
	color: @black-50;
	font-size: 0.6em;
	line-height: 2em;
	width: 10em;
	vertical-align: center;
	@media screen and (max-width: @md){
		display: none;
	}
}
.centered-image ~ .image-desc {
	left: 0;
	
}
.floated-image ~ .image-desc {
	left: 108%;
}
.floated-image-wrapper {
	float: right;
	clear: right;
	margin-left: 1em;
}
.centered-image-wrapper {
	clear: both;
	width: 100%;
	margin: 1em 0 ;
	span {
		text-align: right;
	}
	
}
.image-wrapper {
	position: relative;
	display: inline-block;
	vertical-align: center;
}



.article-main pre {
	background-color: inherit;
}
.article-main .codehilite {
	width: 90%;
	margin: 2em auto 2em auto;
	border: none;

	pre {
		.border-radius(5px);
		padding: 1em;
	}
}

