

.admin-panel,
.admin-subrosa,
.admin-write,
.admin-menu,
.menu-item {
    text-align: center;
    height: 40px;
    background-color: @black-70;
    @media screen and (max-width: @sm){
        height: 50px;
    }
}
.admin-subrosa,
.admin-write {
    width: 40px;
    font-size: 2em;
    padding: 0;
    position: relative;
    a {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    @media screen and (max-width: @sm){
        width: 50px;
        a {
            height: 50px;
            width: 50px;
        }
    }
}

.admin-panel {
    width: 240px;
    position: absolute;
    top: 40px;
    left: 60px;
    z-index: 999;
    font-family: @sans-font;
    .box-shadow(0, 0, 9px, rgba(0,0,0,.15));
    .transition(all, 0.2s, ease-in-out);
    .border-radius(2px);
    a {
        color: @black-30;
    }
    .admin-subrosa {
        background-color: @cerulean;
        float: left;
        position: relative;
        a {
            color: white;
                opacity: 1;
            &:hover {
                opacity: 0.9;
            }
        }

    }
    .admin-write {
        border-left: 1px solid darken(@black-60,3%);
        right: 0;
        float: right;
    }
    .admin-menu {
        cursor: pointer;
        overflow: hidden;
        position: relative;
        color: @black-30;
        .transition(all, 0.2s, ease-in);
        &:hover {
            height: 400%;
            .menu-item:nth-child(n+2) {
                opacity: 1;
            }
        }
        .menu-item:nth-child(n+2){
            opacity: 0;
        }
        .menu-item {
            position: relative;
            border-bottom: 1px solid @black-60;
            .transition(all, 0.3s, ease-in);
            color: @black-20;
            display: block;
            line-height: 300%;
            &:hover > a {
                color: @black-10;  
            }
        }

    }

    @media screen and (max-width: @sm){
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
}
.article-table a {
    color: @black-60;
    &:hover {
        color: black;
    }
}

.dashboard-header {
    height: 4em;
}
