#push,
#footer {
	height: 60px;
	clear:both; 

}
#footer-links {
	position: absolute;
	z-index: 999;
	font-size: 1.2em;
	height: 40px;
	line-height: 30px;
	top: 50%;
	.translateY(-50%);
	width: 100%;
	@media screen and (max-width: 640px){
		left: 50%;
		.translateX(-50%);
	}
	.footer-link {
		.transition(all, 0.3s, ease-in);
		height: 30px;
		display: inline-block;
		width: 30px;
		text-align: center;
		position: relative;
		margin-right: 30px;
		color: @black-40;
		@media screen and (max-width: 640px){
		    width: 20px;
		    height: 20px;
		    line-height: 20px;
		    font-size: 2em;
		}
		&:hover {
			color: @black-60;
		}
	}
}



#footer {
	border-top: 1px solid rgba(0,0,0,.06);
	position: relative;
	width: 100%;
	clear: both;
	padding: 0 4em;
	background-color: #fefefe;
	@media screen and (max-width: 640px){
		padding: 0 2em;
	    
	}
	p {
		display: block;
		line-height: 60px;
		margin: 0;
		padding: 0;
		color: darken(#f7f7f7, 28%) !important;
		font-size: 12px;
		font-family: @sans-font;
		opacity: 0.7;
	}
	.subscribe {
		position: absolute;
		background-color: #fff;
		border: 1px solid @black-10;
		.gradient-light-linear();
		padding: 6px;
		left:50%;
		.translateX(-50%);
		top: -15px;
		.border-radius(50%);
	}
}
