#push,
#footer {
	height: 60px;
    clear:both; 

}

#footer {
	background-color: #fafafa;
	border-top: 1px solid darken(#f7f7f7, 5%);
	position: relative;
	width: 100%;
	p {
		display: block;
		line-height: 60px;
		margin: 0;
		padding: 0;
		color: darken(#f7f7f7, 18%) !important;
	}
	.subscribe {
		position: absolute;
		// background-color: red;
		left:50%;
		.translateX(-50%);
		top: -10px;
		.border-radius(50%);
	}
}
