
.logo-header {
	position: relative;
	width: 100%;
	img {
		max-width: 620px;
		max-height: 120px;
		left: 50%;
		.translateX(-50%);
		position: relative;
		margin: 0 auto;
	}
}
.header {
	margin-bottom: 48px;
	@media screen and (max-width: @md){
		margin-bottom: 24px;
	}
}


.content-header {
	height: 0;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    background-attachment: fixed;
    .header-category {
    	@media screen and (max-width: 640px){
    		display: none;
    	}
    }
}
.header-toolbar {
	height: 60px;
	z-index: 999;
	@media screen and (max-width: @md){
		padding: 0 10px 0 10px;
	}
	.toolbar-sitetitle h4 {
		height: 60px;
		line-height: 70px;
		font-size: 12px;
		margin: 0;
		padding: 0;
		float: left;
		font-family: @sans-font;
		color: @black-70;
		text-transform: uppercase;
		font-weight: bold;
	}
	ul {
		display: block;
		float: left;
		height: 40px;
		line-height: 70px;
		@media screen and (max-width: @md){
			float: right;
		}
		li {
			display: inline-block;
			margin-right: 1em;
			a {
			font-size: 12px;
				
			}
		}
	}
}

.toolbar-link {
	font-family: @sans-font;
	font-size: 16px;
	font-weight: bold;
	.transition(all, 0.3s, ease-in-out);
	border-bottom: 2px solid transparent;
	&:hover {
		color: #f15831;
		border-bottom: 2px solid #f5603b;
	}
}


.content-header-btns {
	z-index: 9 
}