.logo-header {
	position: relative;
	width: 100%;
	img {
		max-width: 620px;
		max-height: 120px;
		left: 50%;
		.translateX(-50%);
		position: relative;
		margin: 0 auto;
	}
}

.title-header {
	height: 4em;
	display: table;
	margin: 0 auto;
	position: relative;
	top: 25%;
	h2 {
		margin-bottom:0;
		text-align: center;
		font-weight: bold;
		font-size: 2.6em;
		color: @black-70;
	}
	p {
		font-size: 1.4em;
	}
}

.content-header {
	height: 300px;
	position: relative;
}
.content-header-btns {
	z-index: 9 
}