

// Styles related to index


.title-img {
	.border-radius(50%);
	background-color: white;
	background-image: url("../img/kermit.jpg");
	background-size: contain;
	background-position: center center;
	.box-shadow(1px, 1px, 7px @black-80)
}
.header-field .site-title {
	margin: 1em 0 0.5em 0;
	font-size: 60px;
	font-weight: bold;
	color: @black-80;
	font-family: sans-serif;
	padding: 0 2em;
}
.header-field {
	margin-bottom: 2em;
	padding-bottom: 3em;
	position: relative;
	background-image: url("../img/bg.jpg");
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.header-field .toolbar-buttons {
	position: absolute;
	right: 10%;
	top: 30%;
	width: 400px;
	ul > li {
		margin-right: 20px;
		display: inline-block;
		float: right;
	}
	@media screen and (max-width: @md){
		width: 100%;
		background-color: white;
		top: 94%;
		right: 0;
		ul {
			text-align: center;
			li {
				float: none;
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
}

.article-list .timesince {
	color: rgba(0,0,0,.4);
	padding: 10px 10px 10px 10px;
	left: 10px;
	font-weight: bold;
	border-bottom: 1px dotted rgba(0,0,0,.7);
	display: block;
	// text-align: right;
	margin-right: 5em;
	width: auto;
	padding-bottom: 2px;
	padding-right: 0;
}
.article-list {
	font-family: @body-font;
	position: relative;
}

.article-list .article-list-title {
	font-size: 2.7em;
	font-family: @sans-font;
	font-weight: bold;
	text-align: left;
	margin: 1em 0 1em 0;
	& > a {
		color: @black-60;
	}
	&:hover{
		color: @rose-red;
	}
}
.article-list .article-list-body {
	font-size: 1.3em;
	.codehilite {
		width: 80%;
		margin: 0 auto;
	}
}
