

// Styles related to index


.title-img {
	.border-radius(50%);
	background-color: white;
	background-image: url("../img/kermit.jpg");
	background-size: contain;
	background-position: center center;
	border: 1px solid rgba(0,0,0,.8);
}
.header-field .site-title {
	margin: 1em 0 0.5em 0;
	font-size: 60px;
	font-weight: bold;
	color: @black-80;
	font-family: sans-serif;
	padding: 0 2em;
}
.header-field {
	background-color: @black-10;
	margin-bottom: 2em;
	padding-bottom: 4em;
	border-bottom: 1px solid @black-60;
	position: relative;
	background-image: url("../img/bg.jpg");
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	
}

.header-field .toolbar-buttons {
	position: absolute;
	right: 10%;
	top: 30%;
	width: 400px;
	ul > li {
		margin-right: 20px;
		display: inline-block;
		float: right;
	}

	@media screen and (max-width: @md){
		width: 100%;
		top: 94%;
		right: 0;
		ul {
			text-align: center;
			li {
				float: none;
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
}

.article-list .timesince {
	color: rgba(0,0,0,.4);
	padding: 10px 10px 10px 10px;
	left: 10px;
	font-weight: bold;
	border-bottom: 1px dotted rgba(0,0,0,.7);
	display: block;
	text-align: right;
	margin-right: 5em;
	width: auto;
	padding-bottom: 2px;
	padding-right: 0;
}
.article-list {
	font-family: @body-font;
	a.article-title {
		color: red;
	}
}

.article-list h1 {
	color: @black-80;
	font-family: @body-font;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0.5em;
}
