

// Styles related to index
.index-wrapper {
	overflow: auto;
	height: 100vh;
	position: relative;
}

.index-image{
	height: 100%;
	display: inline-block;
	background-repeat: no-repeat;
	.background-size(auto, 100%);
	background-position: center center;
	@media screen and (max-width: @md){
	display: none;
	}
}

.article-list {
	font-family: @body-font;
	position: relative;
	display: inline-block;
	margin-top: 18px;
	@media screen and (max-width: @md){
	    margin: 0;
	}
}

.article-list-pagination {
	position: relative;
	height: 80px;
	bottom: 0;
	clear: both;
	padding: 40px 2% 0 2%;
	#prev {
		float: left;
	}
	#next {
		float: right;
	}

}


.articles-list-latest {
	padding: 0 30px;
	h4 {
		padding: 0;
		margin: 0;
		font-family: @sans-font;
		font-weight: bold;
		color: @black-70;
	}
	hr {
		margin-top: 10px;
	}
}

.article-list .article-list-title  {
	margin-bottom: 2em;
	h3 {
	font-size: 2em;
	font-family: @sans-font;
	font-weight: bold;
	text-align: center;
	margin: 5px 0 10px 0;
	}
	h3:hover {
		color: @black-60;
	}
	@media screen and (max-width: 640px){
		font-size: 0.8em;
	}
	.date-created {
		margin: 0;
		color: @black-40;
		text-align: center;
		font-family: @sans-font;
		font-weight: bold;
	}
}
.article-list .article-list-body {
	font-size: 1.3em;
	color: @black-50 !important;
	@media screen and (max-width: 640px){
		font-size: 1em;
	}
	h1,h2,h3 {
		font-family: @body-font;
		font-size: 18px !important;
		color: @black-70;
		margin: 12px 0;
		color: @black-50;
	}
	h3,h4,h5 {
		font-family: @body-font;
		font-size: 18px; 
		font-weight: normal;
		color: @black-50;
	}
	blockquote {
	    font-size: 1em;
	    border: none;
	    margin: 0;
	    padding: 0;
	}
	.codehilite {
		display: none;
	}
	img {
		display: none;
	}
	ul li,
	ol li {
	    float: left;
	    padding: 0;
	    margin-right: 2em;
	}
	ul, ol {
	    margin: 0;
	    padding: 0;
	    display: block;
	    margin-left: 2em;
	    clear: both;
	}
}

