{% extends "layout.html" %}

{% with header_context="ABOUT" %}
{% include '_partials/header.html' %}
{% endwith %}

{% block content %}
<div class="col-md-6 col-md-offset-3" id="about-wrapper" style="position: relative;">

	{% if portrait %}
	<img src="{{ url_for('send_image', filename = portrait) }}" id="about-portrait" alt="portrait"/>

	{% endif %}

	<div class="basic-typography" style="clear: both" id="about-body">{{ about_info | markdown }}</div>


</div>
{% endblock %}

{% block footer %}
{% include '_partials/footer.html' %}
{% endblock %}


