{% extends "layout.html" %}

{% with header_context="ABOUT" %}
{% include '_partials/header.html' %}
{% endwith %}

{% block content %}

<div class="container">
	<div class="row">

		<div class="col-md-8 col-md-offset-2" id="about-wrapper" style="position: relative;">

			{% if portrait %}
			<img src="{{ url_for('send_image', filename = portrait) }}" id="about-portrait" alt="portrait"/>

			{% else %}
			<div class="col-xs-12" id="about-fill"> </div>

			{% endif %}

			{% if user.real_name %}

			<h2 class="text-center" id="about-realname">{{ user.real_name }}</h2>

			{% endif %}


			<div class="basic-typography" style="clear: both" id="about-body">{{ user.about | markdown }}</div>

		</div>

	</div>
</div>
{% endblock %}

{% block footer %}
{% include '_partials/footer.html' %}
{% endblock %}


