{% extends "layout.html" %}

{% block titlebar %}
{% with header_context="ARCHIVES" %}
{% include '_partials/header.html' %}
{% endwith %}
{% endblock %}

{% block content %}

<h1 class="text-center" id="archives-main-title" >Archives</h1>


	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" id="archives-list">

		{% for year, year_group in articles | groupby("date_created.year") %}
		{% for month, list in year_group| groupby("date_created.month") %}
			<div class="archives-date col-xs-12">
				<h5>{{ month | month_name }}  {{ year }}</h5>
			</div>
		{% for article in list %}
			<div class="archives-item col-sm-8 col-sm-offset-2">
				<a href="{{ url_for('article_view', slug=article.slug) }}"><h4 class="archives-title">{{ article.title }}</h4></a>
			</div>
		{% endfor %}

		{% endfor %}

		{% endfor %}
	</div>
{% endblock %}


{% block footer %}
{% include '_partials/footer.html' %}
{% endblock %}
