{% extends "layout.html" %}

{% block content %} 

	<div class="col-md-4 col-md-offset-4 vertical-center" id="create-account-panel">
		<img src="{{ url_for('static', filename = config.STATIC_ROOT + 'img/subrosa.jpg')}}" alt="subrosa">
		<form role="form" action="" method="POST" accept-charset="utf-8">
			<input name=_csrf_token type=hidden value="{{ csrf_token() }}">    
			<div class="form-group">
				<input type="text" name="username" class="form-control" id="username" value="" placeholder="Your username" />
			</div>
			<div class="form-group">
				<input type="password" name="password" class="form-control" id="password" value="" placeholder="Password" />
			</div>
			<div class="form-group">
				<input type="text" name="real_name" class="form-control" id="real_name" placeholder="Name to be shown next to your posts (optional)" value="" />
			</div>
			<div class="form-group">
				<textarea name="description" id="description" cols="30" rows="10" class="form-control" placeholder="Short description of yourself, if set will show up next to your posts (optional)"></textarea>
			</div>
			<div class="form-group">
				<input type="submit" value="Submit" class="btn btn-default" />
			</div>

		</form>
		{% if error %}
		<div class="alert alert-dismissable alert-danger">
			<button class="close" type="button" data-dismiss="alert">x</button>
			<strong>Error:</strong>
			<p>{{ error }}</p>
		</div>
		{% endif %}
	</div>

{% endblock %}
