{% extends "layout.html" %}

{% block titlebar %}
{% include '_partials/header.html' %}
{% endblock %}


{% block content %} 



	<div class="col-md-2 col-md-offset-5 vertical-center" id="login-panel">
		<img src="{{ url_for('static', filename = config.STATIC_ROOT + 'img/subrosa.jpg')}}" alt="subrosa">
		<form role="form" method="POST" action="">
			<input name=_csrf_token type=hidden value="{{ csrf_token() }}">    
			<div class="form-group col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4">
				<input type="text" name="username" id="" class="form-control" value="" placeholder="Username" />
			</div>
			<div class="form-group col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4">
				<input type="password" name="password" id="password" value="" class="form-control" placeholder="Password" />
				<input type="submit" name="submit" id="" class="btn btn-default" value="Submit" style="margin-top: 24px;"/>
			</form>
			{% if error %}
			<div class="alert alert-dismissable alert-warning" style="margin-top: 2em">
				<button class="close" data-dismiss="alert"><i class="icon-cancel"></i></button>
				<strong><i class="icon-attention"></i>Error:</strong><p>{{ error }}</p></div>
			{% endif %}
		</div>
	</div>

{% endblock %}
