{% extends "layout.html" %}

{% block titlebar %}
{% include '_partials/header.html' %}
{% endblock %}

{% block modals %}
	<div class="source-window mfp-hide" id="source-window">
		<div class="form-group">
		<label><small>full image path:</small></label>
		<input type="text" id="full-src" class="form-control " >
		</div>
		<div class="form-group">
			<label><small>thumbnail image path:</small></label>
			<input type="text" id="thumb-src" class="form-control" >
		</div>
	</div>

{% endblock %}

{% block content %} 

{% if images_uploaded %}
<div class="gallery-wrapper">
	{% for image in images %}
	<div class="gallery-image size22 {{ 'galleried' if image.gallery }} {{ 'imgur' if image.imgur_img }}" data-vert="{{ image.is_vertical }}" >
		<a href="#" class="show-img ajax-popup-link" data-mfp-src="{{ image.image_link }}" style="color: #fff">
			<div class="img-holder" style="background-image: url({{ add_thumbnail_affix(image.image_link, thumbnail_size ) if image.imgur_img else image.image_link }})">
				<div class="img-overlay"></div>
				<div class="img-desc">
					{% if image.description %}
						{{ image.description }}
					{% else %}
						<i class="icon-search" style="font-size: 2em; opacity: 0.8"></i>
					{% endif %}
				</div>
			</div>
		</a>

		<div class="image-toolbar">
			<span class="img-icons">
				<a href="{{ url_for('gallerify', id = image.id)}}" class="hint-icon" data-toggle="tooltip" title="{{ 'Remove from gallery' if image.gallery else 'Add to gallery'}}"><i class="{{ 'icon-circle' if image.gallery else 'icon-circle-empty'}}"></i></a>
				<a href="#source-window" class="show-src hint-icon" title="Show links to image" data-toggle="tooltip" data-fullsrc="{{ image.image_link}}" data-thumb="{{ add_thumbnail_affix(image.image_link, thumbnail_size ) if image.imgur_img }}"><i class="icon-code"></i></a>
				<a href="#" data-toggle="confirmation" class="hint-icon" title="Delete image" data-toggle="tooltip" data-href="{{ url_for('delete_image', id = image.id)}}"><i class="icon-cancel"></i></a>
			</span>
		</div>
	</div>

	{% endfor %}

	{% if show_pagination %}

		{% if pagination.has_prev %}

			<a href="{{ url_for('user_images', username = session.user, page = pagination.page - 1)}}" class="gallery-pagination-btn" id="prev"><i class="icon-angle-left"></i></a>

		{% else %}

			<a href="#" class="gallery-pagination-btn" id="prev" disabled><i class="icon-angle-left"></i></a>

		{% endif %}

		{% if pagination.has_next %}

			<a href="{{ url_for('user_images', username = session.user, page = pagination.page + 1)}}" id = "next" class="gallery-pagination-btn"><i class="icon-angle-right"></i></a>

		{% else %}

			<a href="#" class="gallery-pagination-btn" id = "next" disabled><i class="icon-angle-right"></i></a>

		{% endif %}

	{% endif %}

</div>

{% else %}


<div class="empty-container vertical-center">
	<img src="{{ url_for('static', filename = config.STATIC_ROOT + 'img/subrosa.jpg')}}" alt="">
	<h4>No images added yet</h4>
	
</div>


{% endif %}


<div style="height: 90px;"></div>
{% endblock %}

{% block sidebar %}
{% with dashboard_part = "IMAGES" %}
{% include "_partials/dashboard_sidebar.html" %}
{% endwith %}
{% endblock %}



