<div class="admin-panel panel-hidden">
	<div class="admin-subrosa">
		<a href=""><i class="icon-menu" style="font-size: 14px"></i></a>
	</div>
	<div class="hideable">
	<div class="admin-write">
		<a href="{{ url_for('create_article') }}">
			<i class="icon-feather" style="font-size: 0.7em;"></i>

		</a>
	</div>
	{%- if show_upload_btn -%}
	<div class="admin-pic">
		<a href="{{ url_for('upload_image') }}">
			<i class="icon-picture" style="font-size: 0.7em;"></i>

		</a>
	</div>
	{%- endif -%}

	<div class="admin-menu">
		<ul class="list-unstyled">
			<li class="menu-item"><a href="#"><i class="icon-angle-down"></i>Menu</a></li>
			<li class="menu-item"><a href="{{ url_for('user_images', username = session.user )}}">Images</a></li>
			<li class="menu-item"><a href="{{ url_for('account', username = session.user)}}">Dashboard</a></li>
			<li class="menu-item"><a href="{{ url_for('logout')}}">Logout</a></li>
		</ul>
	</div>
		
	</div>
</div>