{% extends "layout.html" %}

{% block content %} 
<article class=" article-main col-md-10 col-md-offset-1 ">
<div class="row">
    <h2 >{{ article.title }}</h2>
{% if session.user and session.user == article.author.username %}
<a class="btn btn-danger btn-xs"  href="{{ url_for('delete_article', id = article.id) }}">Delete</a>
<a class="btn btn-info btn-xs" href="{{ url_for('edit_article', id = article.id) }}" >Edit</a>
{% endif %}
</div>
    <h5>Written {{ article.date_created | timesince }} by {{ article.author.username }}</h5>
    <div >
	{{ article.body | markdown }}
    </div>
</article>

{% endblock %}
