{% extends "layout.html" %}

{% block titlebar %}
{% with header_context="DASHBOARD" %}
{% include "header.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="col-xs-12 dashboard-area" id="dashboard-wrapper">
	<div class="col-md-10 col-md-offset-1" id="dashboard-articles-list-header" >
		<h2 class="dashboard-section-header">
	<a href="{{ url_for('create_article' )}}" class="dashboard-header-btn"><i class="icon-feather"></i></a>
		articles</h2>
	</div>

	<div id="dashboard-articles-list container-fluid col-md-8 col-md-offset-2">

	{% if articles %}

		{% for article in articles %}

		<div class="dashboard-single-article">

		<div class="pull-left dashboard-article-thumbnail" style="background-image: {{ 'url(' + article.article_thumbnail + ')' if article.article_thumbnail }}"></div>

		<div class="pull-left dashboard-article-description">
		<a href="{{ url_for('article_view', slug=article.slug )}}">
			<h4 class="dashboard-article-description-title">{{ article.title | truncate(40) }}</h4>
			
		</a>
			<p class="hidden-xs hidden-sm dashboard-article-description-body text-muted">{{ article.body | truncate(120) }}</p>
		</div>

		<div class="dashboard-article-actions pull-left">
			<a href="{{ url_for('delete_article', id = article.id)}}" class="mini-icon"><i class="icon-cancel-squared"></i></a>
			<a href="{{ url_for('edit_article', id = article.id )}}" class="mini-icon"><i class="icon-pencil-squared"></i></a>
			<a href="{{ url_for('download_article', id = article.id )}}" class="mini-icon"><i class="icon-floppy"></i></a>
			{% if article.draft %}
			<a href="{{ url_for('publish_article', id = article.id )}}" class="mini-icon"><i class="icon-link-ext-alt"></i></a>
			{% else %}
			<a href="" class="mini-icon" disabled><i class="icon-link-ext-alt"></i></a>
			{% endif %}
		</div>
		</div>

		{% endfor %}

	{% endif %}



	</div>
</div>

{% endblock %}


{% block sidebar %}

<div class="dashboard-sidebar">
	<div class="dashboard-sidebar-item dark-dashboard-sidebar-item">
		<a href=""><i class="icon-feather"></i></a>
	</div>
	
	<div class="dashboard-sidebar-item dark-dashboard-sidebar-item">
		<a href=""><i class="icon-doc-text-inv"></i></a>
	</div>
	<div class="dashboard-sidebar-item dark-dashboard-sidebar-item">
		<a href=""><i class="icon-picture"></i></a>
	</div>
</div>

{% endblock %}

