{% extends "layout.html"%}

{% block content %}
<h2>Hello {{ user.username }}!</h2>

{% if articles %}
<div class="article-table col-md-8 col-md-offset-2">

	<table class="table table-hover">
		<legend>Your articles</legend>
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Last updated</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>


		</thead>

		{% for article in articles %}
		<tr >
		<td> {{ loop.index }} </td>
		<td><a href="{{ url_for('article_view', id = article.id) }} ">{{ article.title | truncate(35) }} </a></td>
		<td>{{ article.date_updated.strftime('%Y-%m-%d %H:%M') }} </td>
		<td>{% if article.draft == False %}
			Published
			{% else %}
			Draft
			{% endif %}</td>
			<td>
			<a href="{{ url_for('publish_article', id = article.id) }}" class="mini-icon"><i class="icon-link-ext-alt"></i></a>
			<a href="{{ url_for('edit_article', id = article.id) }}" class="mini-icon"><i class="icon-pencil-squared"></i></a>
			<a href="{{ url_for('delete_article', id = article.id) }}" class="mini-icon"><i class="icon-minus-squared"></i></a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% else %}
<h2 class="text-center">No articles written yet</h2>
{% endif %}

{% endblock %}
