{% extends "layout.html" %}

{% block titlebar %}
{% with header_context="DASHBOARD" %}
{% include "header.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="col-xs-12 dashboard-area" id="dashboard-wrapper">
	<div class="col-md-10 col-md-offset-1" id="dashboard-articles-list-header" >
		<h2 class="dashboard-section-header hidden-xs hidden-sm">
	<a href="{{ url_for('create_article' )}}" class="dashboard-header-btn"><i class="icon-feather"></i></a>
		articles</h2>
	</div>
</div>

{% endblock %}


{% block sidebar %}

<div class="dashboard-sidebar">
	<div class="dashboard-sidebar-item dark-dashboard-sidebar-item">
		<a href=""><i class="icon-feather"></i></a>
	</div>
	
	<div class="dashboard-sidebar-item dark-dashboard-sidebar-item">
		<a href=""><i class="icon-doc-text-inv"></i></a>
	</div>
	<div class="dashboard-sidebar-item dark-dashboard-sidebar-item">
		<a href=""><i class="icon-picture"></i></a>
	</div>
</div>

{% endblock %}

