<!-- sidebar tools for scratchpad editing  -->

<div class="editing-tools">
    <a href="#article-additional" class="{{ 'modal-toggle' if additional_controls else 'form-submit'}} create-button icon-holder hint-icon editing-button" data-toggle="tooltip" data-placement="left" title="Save"><i class="icon-ok"></i></a>
    <a href="{{ g.prev }}" class="cancel-button hint-icon editing-button icon-holder" data-placement="left" data-toggle="tooltip" title="Cancel"><i class="icon-cancel"></i></a>
    <a href="" class="lamp-button editing-button hint-icon icon-holder" data-toggle="tooltip" data-placement="left" title="Dim light"><i class="icon-lamp"></i></a>
    <a href="#cheatsheet" class="modal-toggle hint-icon cheatsheet-button editing-button icon-holder" data-placement="left" data-toggle="tooltip" title="Markdown Cheatsheet"><i class="icon-italic"></i></a>
</div>
