{% extends "layout.html" %}
{% block content %} 


 {% if error %}
<div class="alert alert-dismissable alert-danger">
    <button class="close" data-dismiss="alert">x</button>
    <strong>Error: </strong><p>{{ error }}</p>
</div>
{% endif %}
<div class="article-entry">
<form action="" role="form" class="edit-article-form" method="POST" accept-charset="utf-8">
    <div class="form-group">
    <textarea name="title" id="article-title" class="article-title"> {{ article.title }} </textarea>
    </div>
    <div class="form-group">
	<textarea id="article-body" class="article-body form-control entry-input" name="body" >{{ article.body }}</textarea>
    </div>
    <input type="submit" value="" class="btn btn-primary" style="display: none" />

</form></div>
{% endblock %}

{% block sidebar %}
<div class="editing-tools">
<a href="" class="update-button editing-button icon-holder"><i class="icon-ok"></i></a>
<a href="{{ g.prev }}" class="cancel-button editing-button icon-holder"><i class="icon-cancel"></i></a>
<a href="" class="lamp-button editing-button icon-holder"><i class="icon-lamp"></i></a>
<a href="" class="cheatsheet-button editing-button icon-holder"><i class="icon-italic"></i></a>
</div>
{% endblock %}
