<div class="header">
	<div class="header-toolbar ">
		<div class="toolbar-sitetitle col-md-5" >
		<a href="{{ url_for('index')}}">
		<h4>{{ settings.title }}</h4>
		</a>
		</div>
		<ul class="toolbar-links list-unstyled" style="margin-left: 5%" >
			{% if settings.gallery %}
			<li><a href="{{ url_for('gallery')}}" class="toolbar-link gallery-link {{ 'active' if header_context == 'GALLERY' }}">GALLERY</a></li>
			{% endif %}
			{% if settings.projects %}
			<li><a href="{{ url_for('projects')}}" class="toolbar-link gallery-link {{ 'active' if header_context == 'PROJECTS' }}">PROJECTS</a></li>
			{% endif %}
			<li><a href="{{ url_for('about')}}" class="toolbar-link gallery-link {{ 'active' if header_context == 'ABOUT' }}">ABOUT</a></li>


		</ul>
	</div>

</div>
