{% extends "layout.html" %}

{% block content %} 
<div class="content">
    <div class="img-frame col-md-12">
	<legend>{{ image.filename }}</legend>
	<div class="panel panel-default">
	    <div class="panel-body">
		<a href="{{ url_for('delete_image', id = image.id) }}" class="btn btn-xs btn-danger">Delete Image</a>
	    </div>
	    <div class="well well-sm">
		<small>{{ url_path + image.filename  }} </small>
	    </div>
	    <div class="well well-sm">
		<small>{{ url_path + image.showcase  }} </small>
	    </div>
	</div>
	<div class="row">
	    <a href="{{ url_for('send_image', filename = image.filename) }}"> <img class="image-preview" style="margin: 0 auto; position: relative; display: block" src="{{ url_path + image.filename }}" alt="{{ image.filename }}" width="800px" /></a>
	</div>
    </div>
</div>
{% endblock %}
