{% extends "layout.html" %}

{% block content %} 
<div class="content">
	<div class="img-frame col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<a href="{{ url_for('delete_image', id = image.id) }}" class="btn btn-xs btn-danger">Delete Image</a>
			</div>
			<legend class="text-center">{{ filename }}</legend>
			<div class="well well-sm">
				<small>{{ image.filename  }} </small>
			</div>
			<div class="well well-sm">
				<small>{{ image.showcase  }} </small>
			</div>
		</div>
		<div class="row">
		{% if image.external %}
		<a href="{{ image.filename }}">
		{% else %}
		<a href="{{ url_for('send_image', filename = image.owner.username + '/' + filename) }}">

		{% endif %}
			 <img class="image-preview" style="margin: 0 auto; position: relative; display: block" src="{{ image.filename }}" alt="{{ image.filename }}" width="800px" />
			 </a>
		</div>
	</div>
</div>
{% endblock %}
