{% extends "layout.html" %}

{% block titlebar %} 

<div class="header-field">

	{% if settings.logo %}
	<div class="logo-holder">
		<a href="#">
			<img src="{{url_for('send_image', filename = settings.logo)}}" alt="">
		</a>
	</div>
	{% else %}
	<h1 class="text-center site-title">{{ settings.title }}</h1>
	{% endif %}
	
	<div class="title-img"></div>
</div>
{% if settings.gallery %}
	<div class="header-toolbar">
		<ul class="toolbar-links list-unstyled">
			<li><a href="{{ url_for('gallery')}}" class="toolbar-link gallery-link">GALLERY</a></li>
		</ul>
	</div>

{% endif %}
{% endblock %}


{% block content %} 

{% if articles_written %}
<div class="article-list">
	{% for article in articles %}
	<article class="article-list-entry col-md-8 col-md-offset-2">
		<div class="article-list-title col-xs-12">
			<p class="date-created">{{ article.date_created.strftime("%B %d %Y") }}</p>
			<a href="{{ url_for('article_view', id = article.id) }}" class="article-title-link text-center"><h3>{{ article.title }}</h3></a>

		</div>
		<div class="article-list-body col-xs-12">
		{% if article.header %}
			{{ article.header }}
		{% else %}
			{{ article.body |truncate(200)|markdown }}
		{% endif %}
		</div>

		{% if not loop.last %}
		<h1 style="text-align: center">&hellip;</h1>
		{% endif %}
	</article>
	{% endfor %}

	{% if show_pagination %}
	<div class="article-list-pagination col-md-6 col-md-offset-3">


		{% if pagination.has_prev %}
		<a href="{{ url_for('index', page = pagination.page - 1)}}" style="width: 100px;" class="btn btn-default articles-pagination-btn" id="prev">Previous</a>
		{% else %}

		<a href="#" class="btn btn-default articles-pagination-btn" id="prev" style="width: 100px;" disabled>Previous</a>

		{% endif %}

		{% if pagination.has_next %}

		<a href="{{ url_for('index', page = pagination.page + 1)}}" id = "next" style="width:100px" class=" articles-pagination-btn btn btn-default">Next</a>
		{% else %}

		<a href="#" class="btn btn-default articles-pagination-btn" id = "next" style="width: 100px" disabled>Next</a>
		{% endif %}

	</div>

	{% endif %}




</div>


{% else %}
<h4 class="text-center text-muted" style="margin: 4em 0">No articles here yet, maybe write some cowboy...</h4>
</div>
{% endif %}


{% endblock %}


{% block footer %}
{% include 'footer.html' %}
{% endblock %}
