{% extends "layout.html" %}

{% block titlebar %} 
<style>
	{% if settings.bg %}
	.header-field {
		background-image: url({{ url_for('send_image', filename = settings.bg) }});
		display: block;
		box-shadow: inset 0 -10px 10px -10px rgba(255,255,255,0.5);
		-moz-box-shadow: inset 0 -10px 10px -10px rgba(255,255,255,0.5);
		-webkit-box-shadow: inset 0 -10px 10px -10px rgba(255,255,255,0.5);
	}
	{% endif %}

	{% if settings.bg_small %}
	@media screen and (max-width: 970px){
		.header-field {
			background-image: url({{ url_for('send_image', filename = settings.bg_small) }});
			display: block;
		}
	}
	{% endif %}

	{% if settings.portrait %}
	.title-img {
		background-image: url({{ url_for('send_image', filename = settings.portrait) }});
		display: block;
	}
	{% endif %}
</style>


<div class="row header-field">
	<h1 class="text-center site-title" style="">{{ g.title }}</h1>
	<div class="title-img"></div>
	<div class="toolbar-buttons">
		<ul class="list-unstyled">

			{% if g.facebook %}
			<li>
				<a href="{{ g.faceboook }}" class="facebook-button icon-holder menu-icon">
					<i class="icon-facebook"></i>
				</a>
			</li>
			{% endif %}

			{% if g.twitter %}
			<li>
				<a href="{{ g.twitter }}" class="twitter-button icon-holder menu-icon">
					<i class="icon-twitter"></i>
				</a>
			</li>
			{% endif %}
			
			{% if g.github %}
			<li>
				<a href="{{ g.gitgub }}" class="github-button icon-holder menu-icon">
					<i class="icon-github-1"></i>
				</a>
			</li>
			{% endif %}
			{% if g.gallery %}
			<li>
				<a href="#" class="gallery-button icon-holder menu-icon">
					<i class="icon-picture-1"></i>
				</a>
			</li>
			{% endif %}
			<li>
				<a href="{{ url_for('recent_feeds') }}" class=" rss-button icon-holder menu-icon"><i class="icon-rss"></i></a>
			</li>
		</ul>
	</div>
</div>
{% endblock %}


{% block content %} 

{% with messages = get_flashed_messages() %}
{% for message in mesages %}
<div class="alert alert-dismissable alert-danger">
	<strong>Error:</strong>
	<p>{{ message }}</p>
</div>
{% endfor %}
{% endwith %}
{% if articles.count() %}
{% for article in articles %}
<article class="article-list col-md-10 col-md-offset-1">
	<div class="row">
		<h6 class="timesince pull-right ">Written {{ article.date_created | timesince }}</h6>
	</div>
	<div class="article-list-title col-xs-12">
		<a href="{{ url_for('article_view', id = article.id) }}" class="article-title text-center">{{ article.title }}</a>
		
	</div>
	<div class="article-list-body col-xs-12">
		{{ article.body |truncate(500)|markdown }}
	</div>
	{% if not loop.last %}
	<h1 style="text-align: center">&hellip;</h1>
	{% endif %}
</article>
{% endfor %}
{% else %}
<h2 class="text-center" style="margin: 4em 0">No articles here yet, maybe write some cowboy...</h2>
{% endif %}
{% if articles.items and articles.pages > 1 %}
<div class="bottom-pagination col-xs-4 col-xs-offset-4" style="text-align: center; margin-top: 1em" >
	<ul class="pagination" >
		{% if articles.has_prev %}
		<li><a href="{{ url_for('index', page = articles.page -1) }}">&laquo;</a></li>
		{% else %}
		<li class="disabled"><a href="">&laquo;</a></li>
		{% endif %}
		{% for pagination_page in articles.iter_pages() %}
		{% if pagination_page %}
		{% if pagination_page != articles.page %}
		<li><a href="{{ url_for('index', page = pagination_page) }}">{{ pagination_page }}</a></li>
		{% else %}
		<li class="active"><a href="#">{{ pagination_page }}</a></li>
		{% endif %}
		{% endif %}
		{% endfor %}
		{% if articles.has_next %}
		<li><a href="{{ url_for('index', page = articles.page + 1) }}">&laquo;</a></li>
		{% else %}
		<li class="disabled"><a href="">&raquo;</a></li>

		{% endif %}
	</ul>
</div>

{% endif %}
{% endblock %}
{% block footer %}
{% endblock %}
