{% extends "layout.html" %}

{% block titlebar %} 
<style>
	{% if settings.bg %}
	.header-field {
		background-image: url({{ url_for('send_image', filename = settings.bg) }});
		display: block;
		box-shadow: inset 0 -10px 10px -10px rgba(255,255,255,0.5);
		-moz-box-shadow: inset 0 -10px 10px -10px rgba(255,255,255,0.5);
		-webkit-box-shadow: inset 0 -10px 10px -10px rgba(255,255,255,0.5);
	}
	{% endif %}

	{% if settings.bg_small %}
	@media screen and (max-width: 970px){
		.header-field {
			background-image: url({{ url_for('send_image', filename = settings.bg_small) }});
			display: block;
		}
	}
	{% endif %}

	{% if settings.portrait %}
	.title-img {
		background-image: url({{ url_for('send_image', filename = settings.portrait) }});
		display: block;
	}
	.header-field {
		height: 400px;
	}
	{% endif %}
</style>


<div class="row header-field">

	{% if settings.logo %}
	<div class="logo-holder">
	<a href="#">
	<img src="{{url_for('send_image', filename = settings.logo)}}" alt="">
	</a>

	</div>
	{% else %}
	<h1 class="text-center site-title" style="">{{ settings.title }}</h1>
	{% endif %}
	<div class="title-img"></div>
	<div class="toolbar-buttons">
		<ul class="list-unstyled">

			{% if settings.facebook %}
			<li>
				<a href="{{ g.faceboook }}" class="facebook-button icon-holder menu-icon">
					<i class="icon-facebook"></i>
				</a>
			</li>
			{% endif %}

			{% if settings.twitter %}
			<li>
				<a href="{{ g.twitter }}" class="twitter-button icon-holder menu-icon">
					<i class="icon-twitter"></i>
				</a>
			</li>
			{% endif %}
			
			{% if settings.github %}
			<li>
				<a href="{{ g.gitgub }}" class="github-button icon-holder menu-icon">
					<i class="icon-github-1"></i>
				</a>
			</li>
			{% endif %}
			{% if settings.gallery %}
			<li>
				<a href="#" class="gallery-button icon-holder menu-icon">
					<i class="icon-picture-1"></i>
				</a>
			</li>
			{% endif %}
	</ul>
	</div>
</div>
{% endblock %}


{% block content %} 

{% if articles.count() %}
<div class="article-list">
{% for article in articles %}
<article class="article-list-entry col-md-8 col-md-offset-2">
	<div class="article-list-title col-xs-12">
	<p class="date-created">{{ article.date_created.strftime("%B %d %Y") }}</p>
		<a href="{{ url_for('article_view', id = article.id) }}" class="article-title text-center"><h3>{{ article.title }}</h3></a>
		
	</div>
	<div class="article-list-body col-xs-12">
		{{ article.body |truncate(200)|markdown }}
	</div>
	{% if not loop.last %}
	<h1 style="text-align: center">&hellip;</h1>
	{% endif %}
</article>
{% endfor %}
</div>
{% else %}
<h4 class="text-center text-muted" style="margin: 4em 0">No articles here yet, maybe write some cowboy...</h4>
{% endif %}
{% if articles.items and articles.pages > 1 %}
<div class="bottom-pagination col-xs-4 col-xs-offset-4" style="text-align: center; margin-top: 1em" >
	<ul class="pagination" >
		{% if articles.has_prev %}
		<li><a href="{{ url_for('index', page = articles.page -1) }}">&laquo;</a></li>
		{% else %}
		<li class="disabled"><a href="">&laquo;</a></li>
		{% endif %}
		{% for pagination_page in articles.iter_pages() %}
		{% if pagination_page %}
		{% if pagination_page != articles.page %}
		<li><a href="{{ url_for('index', page = pagination_page) }}">{{ pagination_page }}</a></li>
		{% else %}
		<li class="active"><a href="#">{{ pagination_page }}</a></li>
		{% endif %}
		{% endif %}
		{% endfor %}
		{% if articles.has_next %}
		<li><a href="{{ url_for('index', page = articles.page + 1) }}">&laquo;</a></li>
		{% else %}
		<li class="disabled"><a href="">&raquo;</a></li>

		{% endif %}
	</ul>
</div>

{% endif %}
{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}
