<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ g.title }}</title>
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/bootstrap.css') }}" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/pygments.css') }}" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/fontello.css') }}" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/main.css') }}" media="all" />
</head>
<body>
	<div class="container-full">
		<div class="content">
			{% if session.user %}
			<div id="admin-panel" class="admin-panel" style="display: none;">
				<a href="{{ url_for('index')}} ">
				<h2>Subrosa</h2>
					
				</a>
				<hr>

				<ul class="admin-panel-links list-unstyled">
					<li><a href="{{ url_for('account', username = session.user) }} ">Dashboard</a></li>
					<li><a href="{{ url_for('create_article') }} ">Create Article</a></li>
					<li><a href="{{ url_for('upload_image') }} ">Upload image</a></li>
					<li><a href="{{ url_for('user_images', username = session.user) }} ">Images</a></li>
					<li><a href="{{ url_for('logout') }} ">Logout</a></li>
				</ul>

			</div>
			<a id="sidepanel-toggler" class="icon-holder" href="#admin-panel"><i class="icon-cog"></i></a>

			{% endif %}

			{% block titlebar %} 
			{% endblock %}

			{% block sidebar %}
			{% endblock %}

			<div class="row main-matter">
				<div class="col-md-8 col-md-offset-2">
					{% block content %} 
					{% endblock %}
				</div>
			</div>

			<div class="push"></div>
		</div>
		<div class="footer">
			{% include "footer.html" %}
		</div></div>
		<script src="{{ url_for('static', filename='src/js/jquery.min.js') }} "></script>
		<script src="{{ url_for('static', filename='src/js/bootstrap.min.js') }} "></script>
		<script src="{{ url_for('static', filename='src/js/masonry.pkgd.min.js') }} "></script>
		<script src="{{ url_for('static', filename='src/js/jquery.pageslide.min.js') }} "></script>
		<script src="{{ url_for('static', filename='src/js/main.js') }} "></script>
		<script src="//localhost:35729/livereload.js"></script>
	</body>
	</html>
