<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	{% if settings.favicon %}
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('send_image', filename = 'favicon.ico')}}">
	{% endif %}
	<link rel="alternate" type="application/rss+xml" href="{{ url_for('recent_feeds') }}" title="Recent feeds">
	<title>{{ settings.title }}</title>
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/css/styles.min.css') }}" media="all" /> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/bootstrap.css') }}" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/pygments.css') }}" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/fontello.css') }}" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/magnific-popup/dist/magnific-popup.css') }}" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/main.css') }}" media="all" />

	<style type="text/css">

	{% if settings.bg %}
	.index-image {
	    background-image: url({{ url_for('send_image', filename = settings.bg) }});
	}
	.article-list {
		margin-left: 6%;
	}
	{% else %}
	.article-list {
		left:50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		float: none;
	}
	{% endif %}

	</style>

</head>
<body>
	{%- block modals -%}
	{%- endblock -%}
	<div id="wrap">
		<div class="container-full">
			<div class="content">

				{%- if session.user -%}
				{%- include 'adminpanel.html' -%}
				{%- endif -%}

				{%- block titlebar -%} 
				{%- endblock -%}

				{%- block sidebar -%}
				{%- endblock -%}

				<div class="main-matter ">				
						{%- block content -%} 
						{%- endblock -%}
				</div>

			</div>

			<div id="push"></div>
		</div>
	</div>
	{%- block footer -%}
	{%- endblock -%}

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<!-- <script src="{{ url_for('static', filename='build/js/scripts.min.js') }} "></script> -->
<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }} "></script>
<script src="{{ url_for('static', filename='bower_components/jquery-color/jquery.color.js') }} "></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap/js/alert.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap/js/tooltip.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap/js/popover.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/magnific-popup/dist/jquery.magnific-popup.min.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/nested/jquery.nested.js')}}"></script>
<script src="{{ url_for('static', filename='src/js/bootstrap3-confirmation.js') }} "></script>
<script src="{{ url_for('static', filename='src/js/jquery.unveil.js') }} "></script>
<script src="{{ url_for('static', filename='src/js/main.js') }} "></script>
<script src="//localhost:35729/livereload.js"></script>

</body>
</html>