{% extends 'layout.html' %}




{% block content %} 
<div class="warning-holder">
	
{% if error %}
<div class="alert alert-dismissable alert-danger">
    <button class="close" data-dismiss="alert">x</button>
    <strong>Error: </strong><p>{{ error }}</p>
</div>
{% endif %}

</div>
<div class="article-entry">
<form action="" method="POST" role="form" class="new-article-form" accept-charset="utf-8">
    <div class="form-group">

    <textarea name="title" id="article-input-title" class="article-title" placeholder="Title of your Article here...">{{ title }}</textarea>
    </div>
    <div class="form-group">
	<textarea id="article-body" class="article-input-body form-control entry-input" name="body"  rows="16" placeholder=" And content here...">{{ body }}</textarea>
    </div>
    <input type="submit" value="" style="display: none"  />
</form>
</div>

{% endblock %}

{% block sidebar %}
<div class="editing-tools">
<a href="" class="create-button icon-holder editing-button" data-toggle="tooltip" data-placement="left" title="Create Article"><i class="icon-ok"></i></a>
<a href="{{ g.prev }}" class="cancel-button editing-button icon-holder" data-placement="left" data-toggle="tooltip" title="Cancel"><i class="icon-cancel"></i></a>
<a href="" class="lamp-button editing-button icon-holder" data-toggle="tooltip" data-placement="left" title="Dim light"><i class="icon-lamp"></i></a>
<a href="" class="cheatsheet-button editing-button icon-holder" data-placement="left" data-toggle="tooltip" title="Markdown Cheatsheet"><i class="icon-italic"></i></a>
</div>
{% endblock %}
