
<div id="dashboard-panel" class="col-xs-10 col-xs-offset-1">
	<legend>Settings</legend>

	<form action="{{ url_for('configure')}}" method="POST">

		<!-- Input fields -->

		<div class="address-fields">

			<select name="link-fields" id="link-fields" class="form-control">
				<option value="1">Email<i class="icon-paper-plane"></i></option>
				<option value="2">Github<i class="icon-paper-plane"></i></option>
				<option value="3">Facebook<i class="icon-paper-plane"></i></option>
				<option value="4">Twitter<i class="icon-paper-plane"></i></option>
				<option value="5">Google+<i class="icon-paper-plane"></i></option>
			</select>




 			<div class="form-group" id="selectable-1">
				<div class="input-group">
					<span class="input-group-addon" title="Email"><i class="icon-paper-plane"></i></span>
					<input type="text" name="email" id="email" placeholder="Email address (not set)" class="form-control" value="{{ settings.email.decode('utf-8') }}">
				</div>

			</div>
			<div class="form-group" id="selectable-2">
				<div class="input-group">
					<span class="input-group-addon" title="Github"><i class="icon-github"></i></span>
					<input type="text" name="github" id="github" placeholder="Github account address (not set)" class="form-control" value="{{ settings.github.decode('utf-8') }}">
				</div>
			</div>
			<div class="form-group" id="selectable-3">
				<div class="input-group">
					<span class="input-group-addon" title="Facebook address"><i class="icon-facebook"></i></span>
					<input type="text" name="facebook" id="facebook" placeholder="Facebook address (not set)" class="form-control" value="{{ settings.facebook.decode('utf-8') }}">
				</div>
			</div>
			<div class="form-group" id="selectable-4">
				<div class="input-group">
					<span class="input-group-addon" title="Twitter address"><i class="icon-twitter"></i></span>
					<input type="text" name="twitter" id="twitter" placeholder="Twitter address (not set)" class="form-control" value="{{ settings.twitter.decode('utf-8') }}"><input type="text" name="twitter-user" id="twitter-user" class="form-control" placeholder="Your Twitter username">
				</div>
			</div>
 			<div class="form-group" id="selectable-5">
				<div class="input-group">
					<span class="input-group-addon" title="Google+ address"><i class="icon-gplus"></i></span>
					<input type="text" name="gplus" id="gplus" placeholder="Google+ account (not set)" class="form-control" value="{{ settings.google_plus.decode('utf-8') }}">
				</div>
			</div>
		<hr>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon" title="Imgur user_id" style="width: 80px;"><img src="{{url_for('static', filename='src/img/imgur.png')}}" alt="imgur" style="height: 16px;"></span>
					<!-- <span class="input-group-addon" title="Imgur user_id" style="width: 80px;"><img src="{{url_for('static', filename='build/img/imgur.png')}}" alt="imgur" style="height: 16px;"></span> -->
					<input type="text" name="imgur" id="imgur" placeholder="Imgur client_id" class="form-control" value="{{ settings.imgur_id.decode('utf-8') }}">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon" title="Disqus site name" style="width: 60px"><img src="{{ url_for('static', filename = 'src/img/disqus.png')}}" alt="disqus" style="height: 10px;"></span>
				<!-- <span class="input-group-addon" title="Disqus site name" style="width: 60px"><img src="{{ url_for('static', filename = 'build/img/disqus.png')}}" alt="disqus" style="height: 10px;"></span> -->
				<input type="text" name="disqus" id="disqus" placeholder="Disqus site shortname" class="form-control" value="{{ settings.disqus.decode('utf-8')}}">
			</div>
		</div>

		<!-- Input fields -->

		<!-- checkbox fields -->

		<div style="margin-top: 24px;">
			<div class="dashboard-checkbox-field">
				<label for=""><small>Show Gallery</small></label>
				<div class="onoffswitch">
					<input type="checkbox" name="show-gallery" class="onoffswitch-checkbox" id="myonoffswitch1" {{ 'checked' if settings.gallery }}>
					<label class="onoffswitch-label" for="myonoffswitch1">
						<div class="onoffswitch-inner"></div>
						<div class="onoffswitch-switch"></div>
					</label>
				</div>
			</div>

			<div class="dashboard-checkbox-field">
				<label for=""><small>Show Projects</small></label>
				<div class="onoffswitch">
					<input type="checkbox" name="show-projects" class="onoffswitch-checkbox" id="myonoffswitch2" {{ 'checked' if settings.projects }}>
					<label class="onoffswitch-label" for="myonoffswitch2">
						<div class="onoffswitch-inner"></div>
						<div class="onoffswitch-switch"></div>
					</label>
				</div>


			</div>

			<div class="dashboard-checkbox-field">
				<label for=""><small>Show User Info</small></label>
				<div class="onoffswitch">
					<input type="checkbox" name="show-info" class="onoffswitch-checkbox" id="myonoffswitch3" {{ 'checked' if settings.show_info }}>
					<label class="onoffswitch-label" for="myonoffswitch3">
						<div class="onoffswitch-inner"></div>
						<div class="onoffswitch-switch"></div>
					</label>
				</div>
			</div>
			
		</div>

		<div class="form-inline settings-panel-buttons" style="" >
		<input type="submit" value="Update" class="btn btn-default " >
		<a href="#user-info-panel" id="change-user-info"  class="modal-toggle btn btn-default">User Info</a>
		</div>

	</form>
</div>
