{% extends "layout.html" %}

{% block titlebar %}
    {% with header_context="ADD IMAGE" %}
        {% include "header.html" %}
    {% endwith %}
{% endblock %}


{% block content %} 

<div class="image-upload-wrapper col-md-8 col-md-offset-2">
    <form action="" role="form" method="POST" accept-charset="utf-8" class="form-horizontal" enctype="multipart/form-data">
        {% if settings.imgur_id %}
        <div class="form-group">
            <span>
                <p id="imgur-credit"><small>Service provided by <a href="http://www.imgur.com">
                <img src="{{ url_for('static', filename = 'src/img/imgur.png')}}" alt="imgur"> </a>
                <img src="{{ url_for('static', filename = 'src/img/ajax-loader.gif')}}" alt="loading" style="display: none" class="loading"></small></p>
                <div class="input-group">

                    <div class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="Upload Image" name="imgur-img" id="upload-img" style="width: 120px;" />
                    </div>

                    <input type="file" name="image" title="Upload" class="" style="visibility: hidden; width: 0; height: 0; margin: 0;" id="imgur-upload" value="" />
                    <input type="text" name="subfile" id="subfile" class="subfile form-control">

                    <div class="input-group-btn">
                        <a class="btn btn-default" onclick="$('#imgur-upload').click()">Browse</a>
                    </div>

                </div>

            </span>

        </div>
        {% endif %}
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-btn">
                    <input type="submit" class="btn btn-default" name="save-link" value="Save Link" style="width: 120px">
                </div>
                <input type="text" name="image-link" id="image-link" class="form-control" placeholder="eg. http://google.com/kittens.jpg">

            </div>

        </div>

        <div class="form-group input-group">
            <textarea name="description" id="" cols="200" rows="8" class="form-control" placeholder="Image description (optional)" style="width: 100%;"></textarea>
        </div>

    </form>
    {% if error %}
    <div class="alert alert-dismissable alert-danger">
        <button class="close" data-dismiss="alert">x</button>
        <strong>Error:</strong><p>{{ error }}</p></div>
        {% endif %}


    </div>



{% endblock %}
