{% extends "layout.html" %}

{% block content %} 
{% if error %}
<div class="alert alert-dismissable alert-danger"><strong>Error:</strong><p>{{ error }}</p></div>
{% endif %}
<div class="well">
<form action="" role="form" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
    <legend>Upload Image</legend>
    <div class="form-group">
    	<label for="image">Choose File:</label>
	<input type="file" name="image" class="form-control" id="image-upload-filename" value="" />
    </div>
    <div class="form-group">
    <div class="form-group">
        <label for="description">Description for your Image (optional)</label>
        <input type="text" name="description" class="form-control" id="image-upload-description" >
    </div>

    <div class="form-group">
	<input class="btn btn-sm btn-primary" type="submit" value="Submit" />
    </div>

</form></div>
{% endblock %}
