{% extends "layout.html" %}

{% block content %} 


<div class="gallery-wrapper">
	{% for image in images %}
	<a href="{{ url_for('image_details', id = image.id)}}">
		<div class="gallery-image size22 {{ 'galleried' if image.gallery }} {{ 'external' if image.external }}" data-vert="{{ image.is_vertical}}" style="background-image: url({{ image.showcase }})">
			<div class="img-overlay"></div>
			<div class="img-desc">
				{% if image.description %}
				{{ image.description }}
				{% else %}
				<i class="icon-search" style="font-size: 2em; opacity: 0.8"></i>
				{% endif %}
			</div>
		<div class="img-info">
		<p>
			{{ image.date_added | timesince }}
		</p>
		</div>
		</div>
	</a>


	{% endfor %}

</div>



{% endblock %}
