{% extends "layout.html" %}

{% block titlebar %}

{% with header_context="PROJECTS" %}
{% include 'header.html' %}
{% endwith %}
{% endblock %}

{% block content %}


{% if projects %}
	<div class="col-md-6 col-md-offset-3" id="user-projects">
		{% for project in projects %}
		<article class="project-wrapper row">
			<div class="project-title"><h1 class="text-center">{{ project.title }}</h1></div>
			<div class="project-timesince"><h5 class="text-center">{{ project.date_created.strftime("%d %B %Y")}}</h5></div>
			<div class="project-body basic-typography">{{ project.body | markdown }}</div>
			
		</article>
<!-- 		{% if not loop.last %}
		<hr>
		{% endif %}
 -->		{% endfor %}
	</div>
	{% else %}
	<div class=" empty-container vert-centered hor-centered">
	<img src="{{ url_for('static', filename = config.STATIC_ROOT + 'img/subrosa.jpg')}}" alt="">
	<h4>No projects added yet</h4>
		
	</div>
		
{% endif %}


{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}
